[2021-06-28 02:46] QAZIMAAZARSHAD opened #1 "Improve navbar design of webpage"
![Screenshot (175)](https://user-images.githubusercontent.com/56196640/123571531-0cad4a80-d7e8-11eb-841d-d60f91748652.png)

Apply on all pages

[2021-06-28 02:47] QAZIMAAZARSHAD opened #2 "Design a new creative logo for website"
The logo should follow the theme of the website.
Don't change the website name.
You can add a new catchy slogan or tagline.

[2021-06-28 02:50] QAZIMAAZARSHAD opened #3 "Improve category navbar"
![Screenshot (176)](https://user-images.githubusercontent.com/56196640/123572297-99a4d380-d7e9-11eb-9cec-d72e821ff793.png)

Apply changes in all pages

[2021-06-28 02:52] QAZIMAAZARSHAD opened #4 "Make search bar functional"
It should list items when typing the name

[2021-06-28 02:55] QAZIMAAZARSHAD opened #5 "Redesign offers slideshow"
![Screenshot (177)](https://user-images.githubusercontent.com/56196640/123572691-3bc4bb80-d7ea-11eb-92e6-cc8112a2f860.png)

[2021-06-28 02:56] QAZIMAAZARSHAD opened #6 "Create a separate "Deals of the Day" page and remove deals section from home page"

[2021-06-28 02:58] QAZIMAAZARSHAD opened #7 "Create a separate page of TV & Electric appliances"

[2021-06-28 02:58] QAZIMAAZARSHAD opened #8 "Create a clothes page"

[2021-06-28 03:00] QAZIMAAZARSHAD opened #9 "Change title bar text to Apni Dukaan and add logo in title bar"

[2021-06-28 03:03] QAZIMAAZARSHAD opened #10 "Create a "Baby & Kids" page"

[2021-06-28 03:03] QAZIMAAZARSHAD opened #11 "Create a furniture page"

[2021-06-28 03:04] QAZIMAAZARSHAD opened #12 "Remove contact section from home page and create a separate contact page"

[2021-06-28 03:05] QAZIMAAZARSHAD opened #13 "Remove about us section from home page and create a separate about us page"

[2021-06-28 03:07] QAZIMAAZARSHAD opened #14 "Create a login page"

[2021-06-28 03:07] QAZIMAAZARSHAD opened #15 "Redesign the sign-up page"

[2021-06-28 03:08] QAZIMAAZARSHAD opened #16 "Add a custom scroll bar in all pages of website"

[2021-06-28 03:09] QAZIMAAZARSHAD opened #17 "Add a scroll to top button in footer"

[2021-06-28 03:10] QAZIMAAZARSHAD opened #18 "Remove horizontal scroll bar from website"

[2021-06-28 03:12] QAZIMAAZARSHAD opened #19 "Add a creative pre-loader in website"
Use the logo of the website and apply some creative effects

[2021-06-28 03:14] QAZIMAAZARSHAD opened #20 "Redesign or improve mobiles section"
![image](https://user-images.githubusercontent.com/56196640/123574121-eb029200-d7ec-11eb-84a3-7cb56acaf012.png)

[2021-06-28 03:15] QAZIMAAZARSHAD opened #21 "Improve or redesign product page"

[2021-06-28 03:16] QAZIMAAZARSHAD opened #22 "Design a FAQ page"

[2021-06-28 03:17] QAZIMAAZARSHAD opened #23 "Design a landing page"
It should redirect to the login page

[2021-06-28 03:19] QAZIMAAZARSHAD opened #24 "Create a "My Cart" page"
When the user clicks on add to cart, it should add that item to my cart.

[2021-06-28 03:21] QAZIMAAZARSHAD opened #25 "Improve the payments page"

[2021-06-28 03:26] QAZIMAAZARSHAD opened #26 "Add a drop down list in navbar for more categories and remove the category navbar"
Categories like Mobiles, clothes, kids.

It should redirect to respective pages.

[2021-06-28 03:26] #3 closed

[2021-06-28 03:37] QAZIMAAZARSHAD opened #27 "Make website completely responsive in mobile view"

[2021-06-28 08:43] priyanshk20 commented on #26
I would like to do this

[2021-06-28 11:05] Yannick-N commented on #18
I've just finish to remove the horizontal scroll bar from website in file index.html !

[2021-06-28 11:17] QAZIMAAZARSHAD commented on #18
@Yannick-N remove it from every page.

[2021-06-28 11:18] QAZIMAAZARSHAD commented on #18
@Yannick-N are you a part of DevIncept event?

[2021-06-28 11:19] Yannick-N commented on #18
No I'm not, but It's done I fix this on my branch.

[2021-06-28 11:21] QAZIMAAZARSHAD commented on #18
sure

[2021-06-28 11:34] Yannick-N commented on #18
Sorry It's my first time doing a pull request, I can't find my branch don't you know why ?

[2021-06-28 12:17] Yannick-N commented on #18
I have this when I want to push :
`ERROR: Permission to QAZIMAAZARSHAD/Apni-Dukaan.git denied to Yannick-N.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.`

[2021-06-28 13:09] QAZIMAAZARSHAD commented on #18
You have to first push changes in your forked repository then make PR to my repository.

[2021-06-28 13:31] Yannick-N commented on #18
I've done the pull request !

[2021-06-28 14:32] Yannick-N commented on #18
Did you received the PR ?

[2021-06-28 14:34] QAZIMAAZARSHAD commented on #18
Yes, will review soon.

[2021-06-29 02:30] raaamonnn commented on #12
Hello @QAZIMAAZARSHAD I have just created a PR for this.

[2021-06-29 03:16] #12 closed

[2021-06-29 03:17] QAZIMAAZARSHAD opened #30 "Redesign contact page"

[2021-07-04 08:40] harshithatnbr commented on #14
I would like to work on this issue. Please assign it to me under DCP 2021. Thankyou.

[2021-07-04 08:48] QAZIMAAZARSHAD commented on #14
@harshithatnbr DCP will commence from 10th July, I will assign you then only otherwise you won't get any points for your work.

[2021-07-04 08:48] harshithatnbr commented on #14
Ok thankyou.

[2021-07-04 10:22] K-jais commented on #30
Please assign this issue to me. I will redesign the contact us section and will also add the contact us form with some links to the social media.

[2021-07-04 10:25] K-jais commented on #8
Please assign this issue to me. I will create this page and make it look good using some cool animations and CSS styles.

[2021-07-04 10:27] K-jais commented on #13
Please assign this issue to me. I will remove the about us page from the home and make a separate page for it.

[2021-07-04 10:29] K-jais commented on #24
Please assign this issue to me. I will create this my cart page and can also add the functionality of add to cart in this website as I have previously added this feature in one of my projects.

[2021-07-04 10:32] K-jais commented on #27
Please assign this issue to me. I have done these things quite a few times in my projects and can do this very efficiently.

[2021-07-04 10:34] K-jais commented on #17
Please assign this issue to me. I have added this feature in my projects a lot.

[2021-07-04 10:35] QAZIMAAZARSHAD commented on #30
@K-jais I will assign you this issue when DevIncept will commence from 10th July.

[2021-07-04 10:35] K-jais commented on #5
Please assign this issue to me. I have added these types of carousels or slideshows in e-commerce and food delivery projects.

[2021-07-04 10:35] QAZIMAAZARSHAD commented on #17
I will assign you this issue when DevIncept will commence from 10th July.

[2021-07-04 10:36] QAZIMAAZARSHAD commented on #5
I will assign you this issue when DevIncept will commence from 10th July.

[2021-07-04 10:36] QAZIMAAZARSHAD commented on #27
I will assign you this issue when DevIncept will commence from 10th July.

[2021-07-04 10:37] QAZIMAAZARSHAD commented on #24
I will assign you this issue when DevIncept will commence from 10th July.

[2021-07-04 10:37] K-jais commented on #1
Please assign this issue to me. I can redesign this navbar and make it look a lot better than before.

[2021-07-04 10:37] QAZIMAAZARSHAD commented on #13
I will assign you this issue when DevIncept will commence from 10th July.

[2021-07-04 10:37] K-jais commented on #30
Ok sir.

[2021-07-04 10:37] QAZIMAAZARSHAD commented on #1
I will assign you this issue when DevIncept will commence from 10th July.

[2021-07-04 10:38] K-jais commented on #17
Ok sir.

[2021-07-04 10:38] QAZIMAAZARSHAD commented on #8
I will assign you this issue when DevIncept will commence from 10th July.

[2021-07-04 10:38] K-jais commented on #5
Ok sir.

[2021-07-04 10:38] K-jais commented on #27
Ok sir.

[2021-07-04 10:38] K-jais commented on #24
Ok sir.

[2021-07-04 10:38] K-jais commented on #13
Ok sir.

[2021-07-04 10:39] K-jais commented on #1
Ok sir.

[2021-07-04 10:39] K-jais commented on #8
Ok sir.

[2021-07-04 12:19] Swastik1710 commented on #6
Please assign this issue to me.

[2021-07-04 12:21] Swastik1710 commented on #9
Please assign this issue to me.

[2021-07-04 12:22] QAZIMAAZARSHAD commented on #6
@Swastik1710  I will assign you this issue when DevIncept will commence from 10th July.

[2021-07-04 12:22] Swastik1710 commented on #15
Hey , I can create a fully responsive signup page.Please assign this issue to me.

[2021-07-04 12:23] QAZIMAAZARSHAD commented on #9
I will assign you this issue when DevIncept will commence from 10th July.

 Till then don't request any issue to be assigned.

[2021-07-04 12:23] QAZIMAAZARSHAD commented on #15
I will assign you this issue when DevIncept will commence from 10th July.

[2021-07-04 12:24] Swastik1710 commented on #16
Hey, I've made such custom scroll bar for my website earlier. Would love to work on this. Please assign this to me.

[2021-07-04 12:25] Swastik1710 commented on #22
Hey, I can design a FAQ page. So please assign it to me.

[2021-07-04 12:26] QAZIMAAZARSHAD commented on #16
I will start assigning issues from 10th July when DCP will start.

[2021-07-04 12:26] QAZIMAAZARSHAD commented on #22
Wiat till 10th July

[2021-07-04 12:29] Swastik1710 commented on #16
Sure @QAZIMAAZARSHAD .
Just commenting as issues are given on fcfs basis.

[2021-07-04 12:44] QAZIMAAZARSHAD commented on #16
No, I don't think that would be the case because organizers will release some guidelines and contributed will have to select projects.
Also, I won't be assigning all the issues to only a few participants if others are also in line.

[2021-07-04 12:59] Swastik1710 commented on #9
Yeah sure.
Eagerly waiting  for the program to get started.

[2021-07-04 13:40] GaurPeeyush opened #32 ""Appliances" go to next line when you hover over "TV and Appliances" button"
## Describe the bug
A clear and concise description of the bug is "Appliances" go to the next line when you hover over the "TV and Appliances" button.

## To Reproduce
Steps to reproduce the behavior:
1.  Make changes to index.html

## Expected behavior
"TV and Appliances should come in single line whenever anyone hovers over that button.

[2021-07-04 14:10] QAZIMAAZARSHAD commented on #32
This issue is already open.

[2021-07-04 14:10] #32 closed

[2021-07-04 14:28] shivaprasadyanala opened #33 "Add icon to the title of webpage."
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2021-07-04 14:40] QAZIMAAZARSHAD commented on #33
This issue is already open.

Before opening, any issues make sure that no other similar issue is open.

[2021-07-04 14:40] #33 closed

[2021-07-05 09:25] aishwaryas15 opened #34 "To add booking/purchase page for online card payment"
A better web design for placing order & addition of contact page,account login page

[2021-07-05 09:38] QAZIMAAZARSHAD commented on #34
I will assign you this issue when DCP will start from 10th July.

Also, issues to add a contact page, a login page is already open and it is always better to open different issues for a particular task rather than doing it all in one.

[2021-07-05 17:46] SanthoshPatkar commented on #7
Please assign this issue to me

[2021-07-06 04:28] QAZIMAAZARSHAD commented on #7
@SanthoshPatkar I will assign you this issue when the DCP will start from 10th July.

[2021-07-06 09:00] RR-Sahoo commented on #23
Hey can I work on this issue.

[2021-07-06 09:01] RR-Sahoo commented on #11
@QAZIMAAZARSHAD Can I work on this issue?

[2021-07-06 09:11] aakankshabhende opened #35 "Making the footer attractive and linking its items"

[2021-07-06 09:19] Baba-Yaga-1 commented on #10
I am a participant of DevIncept. Can I work on this issue ?

[2021-07-06 09:28] QAZIMAAZARSHAD commented on #23
Sure.

But I will assign you this issue when DCP will start from 10th July.

[2021-07-06 09:28] QAZIMAAZARSHAD commented on #11
I will assign you this issue when DCP will start from 10th July.

[2021-07-06 09:30] QAZIMAAZARSHAD commented on #35
I will assign you this issue when DCP will start from 10th July.

[2021-07-06 09:32] QAZIMAAZARSHAD commented on #10
I will assign you this issue when DCP will start from 10th July.

[2021-07-06 09:36] RR-Sahoo commented on #11
ok

[2021-07-06 09:36] RR-Sahoo commented on #23
ok

[2021-07-06 09:39] aakankshabhende commented on #35
Okay @QAZIMAAZARSHAD sir

[2021-07-06 11:34] Rishita11 commented on #25
Please assign me this issue under DevIncept. I have already worked on a payment gateway for a website.

[2021-07-06 11:45] QAZIMAAZARSHAD commented on #25
I will assign you this issue when DCP will start from 10th July.

[2021-07-06 14:12] PrathmeshMutke opened #36 "Click here in home page is disabled"
## Describe the bug
"Click here" at the bottom of home page is not linked to any URL of offer
 Please assign me this issue
Devincept 21

[2021-07-06 14:17] QAZIMAAZARSHAD commented on #36
An issue to redesign deals of the day section is already open.

[2021-07-06 14:17] #36 closed

[2021-07-06 18:53] Tulsi25 commented on #17
Hello , I am Tulsi . I would like to work on this issue under DevIncept program. Please assign this issue to me.
I have added a sample of my previous work for the reference . @QAZIMAAZARSHAD
![scroll bottom to up](https://user-images.githubusercontent.com/71713383/124652137-5f0dfb80-deb9-11eb-949d-744f9095e5b1.png)

[2021-07-07 00:15] QAZIMAAZARSHAD commented on #17
I will assign you this issue when DevIncept will commence from 10th July.

[2021-07-07 07:35] Tulsi25 commented on #17
ok sir

[2021-07-07 13:34] shindesuyog commented on #35
I would like to work on footer. please assign this to me @QAZIMAAZARSHAD

[2021-07-07 14:10] QAZIMAAZARSHAD commented on #35
Look for some other issues. This will be assigned to @aakankshabhende.

[2021-07-07 15:21] DarshGupta1910 commented on #21
Hi I'm DCP's 2021 participant can I solve this issue?

[2021-07-07 15:34] QAZIMAAZARSHAD commented on #21
I will assign you this issue when DCP will start from 10th July.

[2021-07-07 15:56] DarshGupta1910 commented on #21
Ok thanks

[2021-07-07 18:08] i-priyanshu opened #37 "Create a Better and responsive "Contact Us" page along with form submission option."
I Can improve the look and feel of the contact us page as well give user a form to fill , which will be directed to admin's email.

It would be really great if you could assign this issue to me @QAZIMAAZARSHAD

[2021-07-07 18:25] i-priyanshu opened #38 "Create a Grocery page and add it to categories section."
I didn't find any grocery page in the currently built app. so I would like to add one.

it would be really great if you could assign this issue to me @QAZIMAAZARSHAD .

[2021-07-07 18:37] i-priyanshu opened #39 "Can we use firebase for server and add material theme to the website?"
## For server :
I have worked with `Firebase`, `MongoDB` and `MySQL`  for databases, and among them, Firebase provides a very smooth authorisation process(including third-party API integration) than the others along with `Firestore` too.

## For theme:
just a personal opinion, but the mono-themed websites looks way better than the ones which aren't.  we can use our own custom theme too. For starte

[2021-07-08 04:29] QAZIMAAZARSHAD commented on #37
I will assign you this issue when DCP will start from 10th July.

[2021-07-08 04:30] QAZIMAAZARSHAD commented on #38
I will assign you this issue when DCP will start from 10th July.

[2021-07-08 04:32] QAZIMAAZARSHAD commented on #39
Sure go ahead.

I will assign you this issue when DCP will start from 10th July.

[2021-07-08 04:35] #37 closed

[2021-07-09 07:44] techabhi08 commented on #30
@QAZIMAAZARSHAD sir can you please assign this issue to me?

[2021-07-09 07:45] techabhi08 commented on #27
@QAZIMAAZARSHAD sir can you please assign this issue to me?

[2021-07-09 07:47] techabhi08 commented on #13
@QAZIMAAZARSHAD sir I would like to work on this issue.

[2021-07-09 08:47] SamikshaSankar commented on #4
@QAZIMAAZARSHAD Please assign this issue under the Devlncept

[2021-07-09 08:50] harshita9621 commented on #22
@QAZIMAAZARSHAD Can I work on this issue?

[2021-07-09 08:51] harshita9621 commented on #15
@QAZIMAAZARSHAD Can I work on this issue under DCP'21.

[2021-07-09 08:52] harshita9621 commented on #11
@QAZIMAAZARSHAD Can I work on this issue.

[2021-07-09 08:58] QAZIMAAZARSHAD commented on #22
Look for some other issues. Will assign you if this remains unresolved for a few days.

[2021-07-09 09:00] QAZIMAAZARSHAD commented on #15
I have assigned you another issue so I assigned this one to @harshita9621.

[2021-07-09 09:01] QAZIMAAZARSHAD commented on #11
Already assigned.

[2021-07-09 09:02] QAZIMAAZARSHAD commented on #30
Already assigned to others.

[2021-07-09 09:03] QAZIMAAZARSHAD commented on #27
First and correct PR will be accepted.

[2021-07-09 09:04] QAZIMAAZARSHAD commented on #13
I have assigned you other issues so I assigned this to @techabhi08.

[2021-07-09 09:27] Swastik1710 commented on #15
No worries.

[2021-07-09 09:29] techabhi08 commented on #13
Sir I have made the changes should I submit the PR?

[2021-07-09 09:32] QAZIMAAZARSHAD commented on #13
Tomorrow

[2021-07-09 09:42] techabhi08 commented on #13
Okay sir

[2021-07-09 09:42] neha030 opened #40 "Want to improve the look of home page"
The Deals of the day and about us section
Please assign me this issue under DCP'21

[2021-07-09 09:57] QAZIMAAZARSHAD commented on #40
@neha030 these issues are already open.

Before opening any issue make sure that no other similar issue is open.

[2021-07-09 09:57] #40 closed

[2021-07-09 10:00] Swastik1710 commented on #22
Hey @QAZIMAAZARSHAD , thanks for assigning this issue to me.
Can you please suggest some questions for the faq page.

[2021-07-09 10:06] QAZIMAAZARSHAD commented on #22
I suggest referring to the FAQ pages of some e-commerce websites.

You can include questions like

What is the return policy?
How long it takes for the shipment to arrive?
Is service available in my country?
etc.

[2021-07-09 11:27] neha030 commented on #20
I want to work on this and redesign this section

[2021-07-09 11:44] techabhi08 commented on #2
@QAZIMAAZARSHAD sir please assign this issue to me. I will try to make a suitable and attractive logo.

[2021-07-09 12:56] aishwaryas15 commented on #34
so shall I continue with placing the order/booking page?

[2021-07-09 13:00] QAZIMAAZARSHAD commented on #34
Yes, you can start working on it but don't make PR till tomorrow.

[2021-07-09 13:12] harshithatnbr commented on #14
Thanks for assigning the issue. I have a doubt. If I click login button there is already a sign-up page on the website. Should I redesign it or create an other login page?
If so what details should be included in login page? Please let me know.
Thankyou.

[2021-07-09 13:27] QAZIMAAZARSHAD commented on #14
@harshithatnbr login page and signup page are different.

The login page will include only email input, password input, and a login button.

[2021-07-09 13:38] Swastik1710 commented on #22
Hey @QAZIMAAZARSHAD , please have a look !

![ezgif com-gif-maker](https://user-images.githubusercontent.com/71871571/125086178-fd33d880-e0e8-11eb-81e5-7c286d7a8849.gif)

[2021-07-09 13:47] Swastik1710 commented on #16
Hey @QAZIMAAZARSHAD , can you please suggest the color for the thumb and for the track ?

[2021-07-09 13:59] QAZIMAAZARSHAD commented on #22
Looks nice.

check responsiveness as well.

Make PR after 10th.

[2021-07-09 14:01] QAZIMAAZARSHAD commented on #16
Dark and light blue like the theme of the website.

[2021-07-09 14:16] Swastik1710 commented on #16
Is this one fine ?
![ezgif com-gif-maker(1)](https://user-images.githubusercontent.com/71871571/125091752-518d8700-e0ee-11eb-90f9-874373e0e3eb.gif)

[2021-07-09 14:23] QAZIMAAZARSHAD commented on #16
Make blue colour more dark like navbar.

[2021-07-09 14:27] Swastik1710 commented on #16
![Screenshot 2021-07-09 195700](https://user-images.githubusercontent.com/71871571/125093423-e80e7800-e0ef-11eb-8a5d-f2e911095c0c.jpg)

Like this ?

[2021-07-09 14:38] QAZIMAAZARSHAD commented on #16
Ya fine.

Make PR after 10th.

[2021-07-09 17:50] priyanshi5 commented on #35
Please assign this issue to me under DCP.

[2021-07-09 17:50] priyanshi5 commented on #35
I would like to work on this issue under DCP.

[2021-07-09 17:51] priyanshi5 commented on #38
I would like to work on this issue under DCP.

[2021-07-09 18:31] tjanhvi opened #41 "Add about us page."
Want to add a about us page and remove the content of about from the main page and add creativeness to about us page

[2021-07-09 18:32] tjanhvi commented on #41
Please assign me this issue.

[2021-07-09 18:34] tjanhvi opened #42 "Bug in slider."
Pictures are not clear enough and the size is also too large that looks quite strange.

[2021-07-09 18:34] tjanhvi commented on #42
Please assign me this issue.

[2021-07-10 02:42] QAZIMAAZARSHAD commented on #35
Already assigned look for some other issues.

[2021-07-10 02:45] QAZIMAAZARSHAD commented on #41
@tjanhvi this issue is already open, before opening any issues make sure that no other similar issue is open.

[2021-07-10 02:45] #41 closed

[2021-07-10 02:45] QAZIMAAZARSHAD commented on #42
@tjanhvi this issue is already open.

[2021-07-10 02:45] #42 closed

[2021-07-10 02:47] QAZIMAAZARSHAD commented on #38
@priyanshi5 this issue is already assigned look for some other issues.

[2021-07-10 03:29] shrihari-07 commented on #20
@QAZIMAAZARSHAD I can re design and make it look beautiful with cards. Can you assign this issue to me?

[2021-07-10 03:34] QAZIMAAZARSHAD commented on #20
This issue is already assigned, will assign you if it remains unsolved for a few days.
Look for some other issues.

[2021-07-10 03:38] shrihari-07 commented on #20
Ok @QAZIMAAZARSHAD sir

[2021-07-10 05:20] sujay2306 commented on #26
CAN I GET THIS

[2021-07-10 05:21] sujay2306 commented on #9
can yu assign me please

[2021-07-10 05:23] QAZIMAAZARSHAD commented on #26
Already assigned look for some other issues.

[2021-07-10 05:24] QAZIMAAZARSHAD commented on #9
Look for issues that are not assigned to anyone.

[2021-07-10 06:26] tany1014 commented on #8
i can make a shopping page for your shopping page for clothes @QAZIMAAZARSHAD

[2021-07-10 06:28] tany1014 commented on #1
i will develop a nav bar which fits to your website and can solve your issue @QAZIMAAZARSHAD

[2021-07-10 06:33] tany1014 opened #45 "Can create a seperated catogary part for website"
such as other shopping app we can create a catogary seccion in a creative and decent way @QAZIMAAZARSHAD

[2021-07-10 07:21] Kjp04 commented on #19
Can I work on this issue @QAZIMAAZARSHAD

[2021-07-10 07:24] QAZIMAAZARSHAD commented on #45
@tany1014 didn't get it, can you explain your idea.

[2021-07-10 07:29] manasb15 opened #46 "Correcting mistakes in Readme"
There are a couple of mistakes in the About section of the documentation including the name of the website.

@QAZIMAAZARSHAD please assign me this issue under Devincept.

[2021-07-10 07:38] Rishita11 commented on #25
Thank you

[2021-07-10 07:52] Baba-Yaga-1 commented on #10
Do I have to follow a certain theme for this page ?

[2021-07-10 07:55] QAZIMAAZARSHAD commented on #10
Just follow the color theme.

And implement any idea for styling, but the footer and header should be the same.
We will adopt the best theme for all the pages later when other pages are also created.

[2021-07-10 08:09] Amrutha1101 opened #47 "Cards in mobile section"
## Is your feature request related to a problem? Please describe.
As you can see in mobile section, I will make these into separate cards

![Screenshot (141)](https://user-images.githubusercontent.com/63070698/125156661-45ec9f80-e184-11eb-9f3b-6ece94add6ae.png)

[2021-07-10 08:11] QAZIMAAZARSHAD commented on #47
@Amrutha1101 this issue is already open before opening any issue make sure that no other similar issue is open.

[2021-07-10 08:11] #47 closed

[2021-07-10 09:11] ushmita4 opened #48 "Adding a new Page"
I wish to add a new page to the furniture page.

[2021-07-10 09:15] QAZIMAAZARSHAD commented on #48
@ushmita4 this issue is already open, before opening any issue make sure that no other similar issue is open.

[2021-07-10 09:15] #48 closed

[2021-07-10 09:21] ushmita4 opened #49 "Create a separate page for partner stores."
I wish to create a separate page for partner stores in the city. People can take benefits from there as well.

[2021-07-10 10:44] Baba-Yaga-1 commented on #10
Should I make a static page for now ?

[2021-07-10 11:00] tany1014 commented on #45
For example we can take flipcart or Amazon they have separate section
For clothes , mobile and many more @QAZIMAAZARSHAD

[2021-07-10 11:39] QAZIMAAZARSHAD commented on #10
Yess, refer to some websites and adopt their design if you want.

[2021-07-10 11:41] QAZIMAAZARSHAD commented on #45
Yaa sure.

Make separate sections on the home page.

[2021-07-10 12:13] techabhi08 commented on #13
Sir this issue will be considered for DevIncept right? I am just asking because you removed the label.

[2021-07-10 12:15] QAZIMAAZARSHAD commented on #13
I was just adding new ones.

[2021-07-10 12:19] techabhi08 commented on #13
Okay sir.

[2021-07-10 12:55] #46 closed

[2021-07-10 13:00] #13 closed

[2021-07-10 13:04] QAZIMAAZARSHAD opened #52 "Design a new creative about us page"

[2021-07-10 13:13] techabhi08 commented on #2
![Screenshot (478)](https://user-images.githubusercontent.com/75834097/125164183-95e05c00-e1ae-11eb-8e2b-65e84bc82f43.png)

Sir can I go with this design or design something else?

[2021-07-10 13:20] QAZIMAAZARSHAD commented on #2
Fine.

You can try more designs.
Try some desi tagline which matches with the name "Apni Dukaan".

[2021-07-10 13:21] techabhi08 commented on #2
okay sir.

[2021-07-10 13:23] QAZIMAAZARSHAD commented on #2
Also, it has website signature remove it in the next logos.

[2021-07-10 13:25] techabhi08 commented on #2
yes sir actually it was a screen shot. When I will download it will be removed. I tried that.

[2021-07-10 13:29] navyasrisangem commented on #19
Please assign this issue to me @QAZIMAAZARSHAD

[2021-07-10 13:32] navyasrisangem commented on #52
Please assign this issue to me @QAZIMAAZARSHAD

[2021-07-10 13:36] QAZIMAAZARSHAD commented on #2
Fine

[2021-07-10 13:37] Baba-Yaga-1 commented on #10
Okay, sure.

[2021-07-10 13:37] QAZIMAAZARSHAD commented on #19
This is already assigned.
Look for up for grab level in other issues. I will assign you that issues.

[2021-07-10 13:44] navyasrisangem commented on #2
Please assign this issue to me sir @QAZIMAAZARSHAD

[2021-07-10 14:51] techabhi08 commented on #2
![imageonline-co-resizedimage (1)](https://user-images.githubusercontent.com/75834097/125167090-69cbd780-e1bc-11eb-85d9-eb1dbdee8ed1.png)

[2021-07-10 15:00] QAZIMAAZARSHAD commented on #2
@techabhi08 looks cool.

But replace the dollar sign with a rupee.

[2021-07-10 15:02] techabhi08 commented on #2
Ok sir. Then should I create a pull request?

[2021-07-10 15:05] QAZIMAAZARSHAD commented on #2
Create a folder named logo in the images folder and add both your files there.

[2021-07-10 15:07] techabhi08 commented on #2
Okay sir

[2021-07-10 15:57] mdinesh124 opened #54 "Add show/hide password feature"
## Describe the solution you'd like
I would add show or hide password feature in login.html page.

[2021-07-10 15:58] mdinesh124 commented on #54
Please assign me this issue. I would work on it.

[2021-07-10 15:59] QAZIMAAZARSHAD commented on #54
@mdinesh124 login page has not been created yet.
Also an issue to redesign sign up page is already open.

[2021-07-10 15:59] #54 closed

[2021-07-10 16:04] mdinesh124 commented on #54
![Screenshot (274)](https://user-images.githubusercontent.com/79132253/125169159-85d47680-e1c6-11eb-903e-7e45a47b7604.png)

I supposed to add in this page.

[2021-07-10 16:15] QAZIMAAZARSHAD commented on #54
This page is supposed to be redesigned so no use.

[2021-07-10 16:17] mdinesh124 commented on #54
Ok

[2021-07-10 16:34] aakankshabhende opened #55 "Adding a favicon to the website"
Will add website logo as favicon

[2021-07-10 17:18] Rithwik07 commented on #55
Please assign me.

[2021-07-10 17:20] Rithwik07 commented on #55
Please assign me to this @QAZIMAAZARSHAD

[2021-07-10 17:44] tjanhvi opened #57 "Set the second navbar ."
Want to set the navbar which is situated just top of the slider -- "furniture, baby and kids............... "

[2021-07-10 17:48] tjanhvi opened #58 "Redesign about us page."
Please assign me this issue.

[2021-07-10 17:53] #57 closed

[2021-07-10 17:53] #58 closed

[2021-07-10 17:55] tjanhvi commented on #1
Can I redesign the navbar? ..  I would like to do this..

[2021-07-10 17:56] tjanhvi commented on #5
I would like to do this work.
Please assign me this issue.

[2021-07-10 17:57] tjanhvi commented on #6
I would like to do this .
Please assign me this issue.

[2021-07-10 18:15] satyampgt4 commented on #55
@aakankshabhende do you want to work on it .... ? or i assign it to @Rithwik07

[2021-07-10 18:16] satyampgt4 commented on #6
@tjanhvi go ahead

[2021-07-10 18:16] aakankshabhende commented on #55
I want to work on it

On Sat, Jul 10, 2021, 11:45 PM Satyam Dengre ***@***.***>
wrote:

[2021-07-10 18:18] Rithwik07 commented on #55
I too wanted to work on it.

On Sat, Jul 10, 2021, 11:46 PM Aakanksha Bhende ***@***.***>
wrote:

[2021-07-10 18:18] satyampgt4 commented on #6
@Swastik1710 ask first so he will be assigned if he will unable to solve issue @tjanhvi you will be assigned next

[2021-07-10 18:19] Rithwik07 commented on #55
Brother, this is the first time iam working on a project.
I find everything strange.
But fevicon one , I knew it .
It would be a good start for me , if I get this opportunity.
     Thank you.

On Sat, Jul 10, 2021, 11:47 PM Rithwik Shettie ***@***.***>
wrote:

[2021-07-10 18:33] #18 closed

[2021-07-10 18:33] tjanhvi commented on #6
okay :)

[2021-07-10 18:36] tjanhvi opened #59 "Redesign homepage."
Please assign me this issue.

[2021-07-10 18:40] satyampgt4 commented on #59
@tjanhvi please describe your idea how will you redesign

[2021-07-10 18:50] satyampgt4 opened #60 "Create a page for Book"
## Is your feature request related to a problem? Please describe.
Create a page for Books

[2021-07-11 04:12] QAZIMAAZARSHAD commented on #1
This issue is already assigned.

[2021-07-11 04:17] QAZIMAAZARSHAD commented on #55
@aakankshabhende, @Rithwik07 this issue is already open.

Before opening any issue make sure that no other similar issue is open.

[2021-07-11 04:17] #55 closed

[2021-07-11 04:19] QAZIMAAZARSHAD commented on #55
That issue has already been assigned to others, look for other issues.

[2021-07-11 04:22] Rahul-Bhati commented on #59
please assign me this issue i add bootstrap and make homepage look cool.

[2021-07-11 04:27] QAZIMAAZARSHAD commented on #2
@satyampgt4 let's keep this issue open.

So other participants can also share their ideas and we will use the best logo.

[2021-07-11 04:30] Abhishek-Sahoo commented on #60
Yes I can work on the Books page.

[2021-07-11 04:48] QAZIMAAZARSHAD commented on #59
@tjanhvi similar issues are already open.

[2021-07-11 04:48] #59 closed

[2021-07-11 04:55] harshita9621 commented on #22
@QAZIMAAZARSHAD Can I work on this issue.

[2021-07-11 04:57] QAZIMAAZARSHAD commented on #22
This issue has already been resolved.

[2021-07-11 05:02] shivaprasadyanala opened #61 "Improve or re-design about-us section"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2021-07-11 05:04] QAZIMAAZARSHAD commented on #61
@shivaprasadyanala this issue is already open.

[2021-07-11 05:04] #61 closed

[2021-07-11 05:26] #22 closed

[2021-07-11 05:46] mrunmayee9601 opened #64 "The email id field on Sign Up page is a text type field"
On the Sign Up Page when we enter the email id without the @ extension also it is getting accepted .
So I would like to change the email id field type.
@QAZIMAAZARSHAD Pls assign this issue to me!

[2021-07-11 06:22] satyampgt4 opened #66 "update pull_request_template"
In pull_request_template.md
Change
`Issue Number`

with
`Fixes #(issue number) `
so that issue automatically get close on successful merge of PR

[2021-07-11 06:59] #9 closed

[2021-07-11 07:03] manasb15 commented on #66
@QAZIMAAZARSHAD Assign this to me, please.

[2021-07-11 08:44] Baba-Yaga-1 commented on #10
I have made the page, can you check it.

![babyKids](https://user-images.githubusercontent.com/56999749/125188660-2f147e80-e252-11eb-8ab1-5169788a3663.JPG)

[2021-07-11 08:53] QAZIMAAZARSHAD commented on #10
Share website link.

Also add some details like color, brand, price.
Also, add footer and header.

[2021-07-11 08:56] Baba-Yaga-1 commented on #10
Okay, sure.
I will make the changes and share the link.
I haven't changed the header and footer.

![babyKids2](https://user-images.githubusercontent.com/56999749/125189030-e6f65b80-e253-11eb-9134-144769d8a953.JPG)

[2021-07-11 10:16] pravleen17 opened #67 "Create forget password validation in sign up page."
Feature addition to sign up page.
Add forget password validation which will be very useful

[2021-07-11 10:32] shivaprasadyanala commented on #52
@QAZIMAAZARSHAD  is there slack channel to discuss if there share the link.

[2021-07-11 10:39] shivaprasadyanala commented on #61
can i get the slack channel link to discuss

On Sun, Jul 11, 2021 at 10:34 AM Qazi Maaz Arshad ***@***.***>
wrote:

[2021-07-11 10:39] shivaprasadyanala commented on #52
@QAZIMAAZARSHAD  assign this task to me.

[2021-07-11 10:46] QAZIMAAZARSHAD commented on #61
Search channel by the name.

#apni-dukaan

Navigate to Add channel you will find it there.

[2021-07-11 10:46] QAZIMAAZARSHAD commented on #52
This issue is already assigned.

[2021-07-11 10:51] satyampgt4 commented on #67
@pravleen17 do you want to work on ..?

[2021-07-11 12:47] manasb15 commented on #66
@satyampgt4 Thanks for suggesting this update!

[2021-07-11 13:20] #66 closed

[2021-07-12 04:04] Swastik1710 commented on #6
Hey @QAZIMAAZARSHAD , I'm thinking of adding Deals of the Day tab on the navbar in place of Offers.
It would be better imo.
What do u say ?

[2021-07-12 04:09] QAZIMAAZARSHAD commented on #6
Yaa better.
But don't disturb the navbar.

[2021-07-12 04:11] Swastik1710 commented on #6
So shall I remove Offers and add Deals of the Day ?

[2021-07-12 04:14] Swastik1710 commented on #6
Here's the new Deals of the Day page with the modified navbar

![Screenshot 2021-07-12 094325](https://user-images.githubusercontent.com/71871571/125230112-cda5eb80-e2f5-11eb-9ae5-d48e1928a419.jpg)

[2021-07-12 04:16] QAZIMAAZARSHAD commented on #6
Make deals of the day page stylish.

Refer to some websites and apply better design.

[2021-07-12 04:38] #17 closed

[2021-07-12 04:58] Swastik1710 commented on #6
I think this one's looking good.

![ezgif com-gif-maker(3)](https://user-images.githubusercontent.com/71871571/125233196-b669fc80-e2fb-11eb-8653-20969cbb66c0.gif)

[2021-07-12 05:30] QAZIMAAZARSHAD commented on #6
Add few more cards.

[2021-07-12 05:33] navyasrisangem commented on #52
https://drive.google.com/file/d/1gaA-x-BQEoP0lYzIvWP5Tue9ocnHwezD/view?usp=drivesdk
   Is this ok sir @QAZIMAAZARSHAD ?

[2021-07-12 05:45] Swastik1710 commented on #6
Yeah I'll add one more row

[2021-07-12 05:56] satyampgt4 commented on #6
try to add border in each card 🤔 may be it will look good

[2021-07-12 06:22] manasb15 opened #73 "Remove Checklist point from pull_request_template.md"
This point in the checklist :

(I have added my name in the contributors list at the end of README.md file.)

is obsolete. So it is wise to remove it.

@QAZIMAAZARSHAD please assign this to me under DCP21

[2021-07-12 06:34] QAZIMAAZARSHAD commented on #52
Increase the width. There is plenty of space on the sides.

Also, remove the horizontal scroll bar.

[2021-07-12 06:36] satyampgt4 commented on #73
use correct title for issue

[2021-07-12 06:38] navyasrisangem commented on #52
Okay.

[2021-07-12 06:40] Swastik1710 commented on #6
How's this

![Screenshot 2021-07-12 120900](https://user-images.githubusercontent.com/71871571/125242269-17003600-e30a-11eb-9019-e9167aa0aa64.jpg)

[2021-07-12 06:45] QAZIMAAZARSHAD commented on #6
Cool.

Is the time dynamic?
If not make it, also after reaching 0 timers should restart.
Also, all times are same, make each different.

[2021-07-12 06:46] manasb15 commented on #73
@satyampgt4 This works or should I be more specific?

[2021-07-12 06:46] 889-dj commented on #2
@QAZIMAAZARSHAD  can I work on this

[2021-07-12 06:47] Swastik1710 commented on #6
Yeah it's dynamic.
As of now, I've set it as such that it shows "Expired" once the timer reaches 0.
I'll change it to reset as you said.

[2021-07-12 06:47] 889-dj commented on #2
@QAZIMAAZARSHAD  can I work on this under DCP 21

[2021-07-12 07:01] Swastik1710 commented on #6
I've set the expiry date of 1 year later.

![Screenshot 2021-07-12 123035](https://user-images.githubusercontent.com/71871571/125244518-0dc49880-e30d-11eb-9e62-4de3fa06c9f0.jpg)

[2021-07-12 07:39] Sanju-github002 opened #75 "Create a better design of website"
I add some CSS change to make website more neat and clear. Change in offer box and in color of footer.
<img width="953" alt="Screenshot 2021-07-12 130906" src="https://user-images.githubusercontent.com/78341083/125249071-6fd3cc80-e312-11eb-89f3-359d3186281c.png">
<img width="960" alt="Screenshot 2021-07-12 130930" src="https://user-images.githubusercontent.com/78341083/125249078-7104f980-e312-11eb

[2021-07-12 07:58] satyampgt4 commented on #75
@Sanju-github002 check this #6

if you have any other idea please let us know

[2021-07-12 08:00] Sanju-github002 commented on #75
okkk sir

[2021-07-12 08:01] #75 closed

[2021-07-12 08:05] Sanju-github002 commented on #67
I want to work on this issue !!

[2021-07-12 08:07] QAZIMAAZARSHAD commented on #6
@Swastik1710 these number of days are too  much for an offer.

7 days, 3 months, 1 month, 16 days is fine.

[2021-07-12 08:12] #73 closed

[2021-07-12 08:30] devesh-2002 opened #76 "Create a page for stationary"
I am a contributor from devincept. I would like to create a page for stationary in the project. Please assign me an issue for the same.

[2021-07-12 08:34] aakankshabhende commented on #35
Can you please send social links of Apni Dukaan @QAZIMAAZARSHAD sir as I want to link them in footer.

[2021-07-12 08:39] purohitmansi commented on #67
I would like to work on this.
Please do assign this to me.

[2021-07-12 08:39] purohitmansi commented on #64
Please do assign this to me.

[2021-07-12 08:41] purohitmansi commented on #4
Please do assign this to me.

[2021-07-12 08:42] QAZIMAAZARSHAD commented on #35
@aakankshabhende this is just a demo website.
Social links do not exist, just link them to social pages.

[2021-07-12 08:43] QAZIMAAZARSHAD commented on #67
Already assigned.

[2021-07-12 08:44] QAZIMAAZARSHAD commented on #64
Already assigned.
I think you are assigned top other issues as well finish them first.

[2021-07-12 08:44] purohitmansi commented on #67
Okay

On Mon, 12 Jul 2021, 2:13 pm Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-07-12 08:45] purohitmansi commented on #64
No

On Mon, 12 Jul 2021, 2:14 pm Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-07-12 09:04] tjanhvi commented on #5
okay :)

[2021-07-12 09:04] tjanhvi commented on #1
okay

[2021-07-12 09:07] tjanhvi commented on #6
okay

[2021-07-12 09:18] satyampgt4 opened #79 "add navigation and footer in login page"
## Is your feature request related to a problem? Please describe.
add navigation bar and footer in login page

[2021-07-12 09:33] QAZIMAAZARSHAD commented on #79
Login page is yet to be created. Sign up page is yet to be redesigned.
No need for this issue.

[2021-07-12 09:33] #79 closed

[2021-07-12 11:27] Baba-Yaga-1 commented on #10
Can you check this ?
I have made the changes and I haven't changed the header and footer.

https://baba-yaga-1.github.io/DevIncept/babyAndkids.html

[2021-07-12 11:40] QAZIMAAZARSHAD commented on #10
The slider image is very large.

Arrange cards properly, left and right margins should be equal.

Fetch upstream also your repo is not updated.

Align nav bar properly.

[2021-07-12 11:40] 119kanika opened #82 "Responsive Navbar"

[2021-07-12 11:40] #82 closed

[2021-07-12 12:54] Rahul-Bhati opened #83 "add modal in homepage"
adding bootstrap modal in home page offers for look more responsive.

[2021-07-12 13:28] QAZIMAAZARSHAD commented on #83
This issue is already open.

[2021-07-12 13:28] #83 closed

[2021-07-12 14:33] Subham-Satapathy opened #84 "I want to change the UI of the webpage."
The UI of the website is looking too old style and I want to give a modern look to the home page specially.

[2021-07-12 14:47] Subham-Satapathy commented on #84
Thank you.

[2021-07-12 15:22] Subham-Satapathy commented on #84
Can I change the logo?

[2021-07-12 15:34] QAZIMAAZARSHAD commented on #84
Yaa you can do all the changes to improve the design.

[2021-07-12 16:14] #49 closed

[2021-07-12 16:18] QAZIMAAZARSHAD opened #86 "Move all the images outside images folder into the images folder"

[2021-07-12 16:30] ushmita4 commented on #86
I wish to work on this.

[2021-07-12 17:27] PrathmeshMutke opened #87 "Tab name and link is different"
## Describe the bug
As mouse cursor scrolls to **offers** tab on home page it gives the link of **deals**
while other tabs are having same name and links
## To Reproduce
Steps to reproduce the behavior:
1. both should be same

[2021-07-12 17:29] QAZIMAAZARSHAD commented on #87
Under DCP?

[2021-07-12 17:49] AdityM1 commented on #87
DCP 21

[2021-07-12 17:53] PrathmeshMutke commented on #87
DCP 21

[2021-07-12 21:30] 889-dj commented on #2
889-dj:newLogo

@QAZIMAAZARSHAD  I have made a PR

[2021-07-13 04:12] RR-Sahoo commented on #11
@QAZIMAAZARSHAD is there any design protocol for furniture page.

[2021-07-13 04:31] QAZIMAAZARSHAD commented on #11
No just implement your ideas.

But header, footer, background things like this should be similar.

[2021-07-13 04:41] 889-dj commented on #2
![3](https://user-images.githubusercontent.com/73821023/125391290-d6fc8a00-e3c1-11eb-8e66-5fdbfa84aa60.jpg)

[2021-07-13 04:59] QAZIMAAZARSHAD commented on #2
Make PR again.

[2021-07-13 05:32] #86 closed

[2021-07-13 05:45] Baba-Yaga-1 commented on #10
Can you check this ? I have made the changes.

https://baba-yaga-1.github.io/DevIncept/babyAndkids.html

[2021-07-13 05:54] QAZIMAAZARSHAD commented on #10
No still not correct.

First, fetch upstream keep your repo updated.

Reduce the height and increase the width to 100% of the slideshow.
Also, replace slideshow images, use modelling kids.
Add three cards in one row.

[2021-07-13 06:13] #67 closed

[2021-07-13 06:36] #6 closed

[2021-07-13 06:46] Baba-Yaga-1 commented on #10
I did update the repo.
So I need to replace the slideshows with cards or I just need to chnge the pictures ?
Also does this page also have to show the links to other pages like clothes, furniture etc ?

[2021-07-13 06:54] QAZIMAAZARSHAD commented on #10
Just adjust the size of the slideshow.
Change images in the slideshow.
By cards, I meant products like jackets, shoes, etc. there are two cards in each row and plenty of margin on the right side.
Decrease the size of these cards and add 3 in each row.
And yes, the header and the footer should be the same as other pages and each page should be linked to each other.

[2021-07-13 10:35] QAZIMAAZARSHAD commented on #30
Do a few more changes I suggested then make a new PR.

[2021-07-13 12:31] QAZIMAAZARSHAD commented on #52
Correct everything and make new PR

[2021-07-14 04:53] #30 closed

[2021-07-14 05:36] JMKanakadurga opened #105 "To make an attractive toggle between login & Signup pages"
## Is your feature request related to a problem? Please describe.
I can see that the login page has a very common format and yet it is not catchy .I got an idea to toggle between sign up and login section so it could be user-friendly.

## Describe the solution you'd like
I would like to create a still more attractive toggle between login and signup which could be user-friendly.

[2021-07-14 06:34] Baba-Yaga-1 commented on #10
I am facing an error while using "git pull origin master" command. I haven't pushed any of the files yet.

![git](https://user-images.githubusercontent.com/56999749/125574182-1151ff99-55fe-4306-86c6-50e2afe825d3.JPG)

Also, I made the changes.
I set the margin and padding properly.

![set-margin](https://user-images.githubusercontent.com/56999749/125574345-1e6fb15d-4ec9-4a53-9fe0-3bdbee1972af.JPG)

[2021-07-14 07:03] QAZIMAAZARSHAD commented on #10
Your changes are not reflected in the link.

[2021-07-14 07:04] QAZIMAAZARSHAD commented on #10
![image](https://user-images.githubusercontent.com/56196640/125578104-5949dc4d-886a-4d0f-ab11-3451af6e01ec.png)
![image](https://user-images.githubusercontent.com/56196640/125578142-9e3a438e-f317-49e9-9271-4ddba744f633.png)
![image](https://user-images.githubusercontent.com/56196640/125578169-b2eccbe6-b875-45e8-9050-4a11eccf1331.png)

[2021-07-14 07:05] QAZIMAAZARSHAD commented on #10
@satyampgt4 please help @Baba-Yaga-1 in resolving issues.

[2021-07-14 07:23] Baba-Yaga-1 commented on #10
I am not able to understand the problem, as the changes are clearly reflected on the link when I view it. So, how can I solve the problem ?

![demo](https://user-images.githubusercontent.com/56999749/125580260-18709d12-3def-468e-9863-4b9b0abff17d.JPG)
![demo1](https://user-images.githubusercontent.com/56999749/125580275-3ce42d73-5c3c-4e41-9a10-834bc6553776.JPG)
![demo2](https://user-images.githubu

[2021-07-14 07:48] QAZIMAAZARSHAD commented on #10
@satyampgt4 look into this.

[2021-07-14 08:16] maitridshah opened #106 "Update footer"
I want to update footer look

[2021-07-14 08:22] QAZIMAAZARSHAD commented on #106
This issue is already open.

[2021-07-14 08:22] #106 closed

[2021-07-14 08:31] purohitmansi commented on #4
I am not able to resolve this issue.

On Mon, 12 Jul 2021, 2:14 pm Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-07-14 09:48] QAZIMAAZARSHAD commented on #4
Take the help of the internet or mentors.
I f you don't want to work on it remove your assingment.

[2021-07-14 11:53] satyampgt4 commented on #10
is this issue get solved or not... ?

[2021-07-14 12:04] satyampgt4 commented on #1
@tany1014 any updates ...?

[2021-07-14 12:06] satyampgt4 commented on #7
@SanthoshPatkar any updates...?

[2021-07-14 12:12] satyampgt4 commented on #15
@harshita9621  any update .... ?

[2021-07-14 12:12] satyampgt4 commented on #14
@harshithatnbr any update .... ?

[2021-07-14 12:13] satyampgt4 commented on #20
@neha030 any update ...?

[2021-07-14 12:14] Swastik1710 commented on #15
Can I work on this @QAZIMAAZARSHAD?

[2021-07-14 12:14] satyampgt4 commented on #21
@DarshGupta1910 any update ....?

[2021-07-14 12:15] satyampgt4 commented on #23
@RR-Sahoo any update ...?

[2021-07-14 12:15] QAZIMAAZARSHAD commented on #15
Let's wait and see if @harshita9621 is working on it or not.

[2021-07-14 12:15] satyampgt4 commented on #24
@K-jais any update on the issue ...?

[2021-07-14 12:17] Swastik1710 commented on #15
Okay.
If no one else is working, do let me know.

[2021-07-14 12:17] satyampgt4 commented on #26
@priyanshk20 any update.....?

[2021-07-14 12:22] satyampgt4 commented on #38
@i-priyanshu  any update ..?

[2021-07-14 12:22] K-jais commented on #24
I will make the PR of this issue in 2 days

[2021-07-14 12:24] DarshGupta1910 commented on #21
Yes, I will open a pull request tomorrow...

[2021-07-14 12:34] harshita9621 commented on #15
@QAZIMAAZARSHAD Working on it.

[2021-07-14 12:38] Sia0 commented on #14
Hi @QAZIMAAZARSHAD  May I know can I work on this after harshithatnbr done?

[2021-07-14 12:49] neha030 commented on #20
yeah
![Screenshot (237)](https://user-images.githubusercontent.com/72595335/125624181-1cfedbd6-ed00-4347-8769-699ace6bd47b.png)
![Screenshot (238)](https://user-images.githubusercontent.com/72595335/125624187-c1cb1185-dbc2-45f4-9338-54162a7da361.png)
 just have to set the buttons a bit

But i am not able to adjust the existing nav and footer...it's creating some orientation problem...
Can i make a

[2021-07-14 12:52] satyampgt4 commented on #16
@QAZIMAAZARSHAD is this issue still require or should i close it

[2021-07-14 12:54] harshithatnbr commented on #14
@Sia0 if you find any issues after I submit my work . You can raise an issue and work on it.

[2021-07-14 12:56] Sia0 commented on #14
ohhh ok noted.

[2021-07-14 13:03] priyanshk20 commented on #26
I m sorry, was stuck in some work.. will get it done by tomorrow

[2021-07-14 13:15] QAZIMAAZARSHAD commented on #20
Looks cool.

Change the green background in the button to dark blue or purple.

[2021-07-14 13:16] #16 closed

[2021-07-14 13:33] RR-Sahoo commented on #23
@QAZIMAAZARSHAD  actually I have my sem exam going on so can u assign this to others who are interested

[2021-07-14 13:33] RR-Sahoo commented on #11
@QAZIMAAZARSHAD  actually I have my sem exam going on so can u assign this to others who are interested

[2021-07-14 14:59] Shivani13121007 commented on #23
can I work on this?

[2021-07-14 15:00] neha030 commented on #20
Done , can i add a new mobile1.html and make a PR?

[2021-07-14 15:02] QAZIMAAZARSHAD commented on #20
No not mobile1 just replace the old mobile page.

And share a link of your website so I can review your changes.

[2021-07-14 15:26] neha030 commented on #20
https://neha030.github.io/Mobile/

[2021-07-14 15:35] QAZIMAAZARSHAD commented on #20
Link this to the main website.

No need for a new navbar.

Link footer and header in the page like other pages.

The size of all cards is not similar.

Change purple colour to dark blue colour like in navbar.

Replace mobile images with better images, without white background.

[2021-07-14 15:36] Baba-Yaga-1 commented on #10
I tried that and now its showing another error.

![commit](https://user-images.githubusercontent.com/56999749/125649923-11034e30-0b95-4c1a-b874-810e2814a639.JPG)

Also what should I do about the problem that is occurring while clicking the link ? As the changes are shown while I view the link.

[2021-07-14 15:59] satyampgt4 commented on #10
it is showing you have merge conflict if you are using vs code you can easily see the current and incoming update you have to resolve them and after all the conflict get resolved then commit it

if find any difficulty in it ping me on slack !

[2021-07-14 16:19] Baba-Yaga-1 commented on #10
Hey thanks, that issue got solved.

But what about this ? Can you open the link and check, whether the margin and padding has been set properly or not ?

[2021-07-14 16:26] QAZIMAAZARSHAD commented on #10
No nothing has been updated.

Everything's wrong same as before.

[2021-07-14 16:28] satyampgt4 commented on #10
try to use flex may be it will help you

[2021-07-14 16:36] satyampgt4 commented on #10
or use 13px in margin left and right instead of 20px

[2021-07-14 18:14] #84 closed

[2021-07-15 01:11] Sia0 commented on #35
Hi can i contribute to this if no one was assigned?

[2021-07-15 03:39] aakankshabhende commented on #35
Please assign this issue to someone else @QAZIMAAZARSHAD sir

[2021-07-15 04:18] Baba-Yaga-1 commented on #10
https://baba-yaga-1.github.io/DevIncept/babyAndkids.html

[2021-07-15 04:57] QAZIMAAZARSHAD commented on #10
Cards are now 3 in each row. But still, not properly in the center, correct the margin.

But the navbar, footer, is still wrong.
And remove that slideshow of the home page.

[2021-07-15 04:59] QAZIMAAZARSHAD commented on #35
What happened @aakankshabhende you had already made the PR?

[2021-07-15 05:44] ChristineLeong commented on #52
@QAZIMAAZARSHAD Hi, mat i get this task?

[2021-07-15 06:15] LeeSinYung commented on #1
May I request to improve  the navbar? Only the navbar at the homepage had been modify. I would like to modify the others pages like faq and so on.

[2021-07-15 06:21] Baba-Yaga-1 commented on #10
You mean the slider for the advertisement?

[2021-07-15 06:44] tjanhvi commented on #52
Please assign me this issue.

[2021-07-15 06:46] tjanhvi commented on #11
Please assign me this issue.

[2021-07-15 06:46] tjanhvi commented on #1
Any updates
????

[2021-07-15 06:53] SanthoshPatkar commented on #7
@satyampgt4 almost done.. within 2-3 days I'll send PR

[2021-07-15 07:09] QAZIMAAZARSHAD commented on #1
@tjanhvi let's wait for @tany1014 reply for a few more hours.

If we receive no response then I will assign you.

[2021-07-15 07:12] QAZIMAAZARSHAD commented on #52
I assigned you another issue.

[2021-07-15 07:16] QAZIMAAZARSHAD commented on #10
Yes no need for that slider, baby slider is enough.

[2021-07-15 07:24] mayank-wadhwa-git commented on #64
Please assign this to me

[2021-07-15 07:26] QAZIMAAZARSHAD commented on #64
This issue is already assigned.

[2021-07-15 07:54] rompyroshni31 commented on #15
@QAZIMAAZARSHAD Hey! Assign me something too! I can also design web pages.

[2021-07-15 07:58] QAZIMAAZARSHAD commented on #15
@rompyroshni31 select any one of these.

https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues?q=is%3Aopen+is%3Aissue+label%3A%22%F0%9F%A4%A9+Up+for+Grab%22

[2021-07-15 08:09] Baba-Yaga-1 commented on #10
Okay I will update it.

So the navbar and footer of this page should match with the index page ?

![index](https://user-images.githubusercontent.com/56999749/125752305-f3a7c17a-5f72-489b-a96b-3407cdce9f79.JPG)

[2021-07-15 08:34] QAZIMAAZARSHAD commented on #10
Yes

[2021-07-15 11:11] 119kanika commented on #105
Hey @QAZIMAAZARSHAD please assign me something too. I can build and modify webpages.

[2021-07-15 12:10] QAZIMAAZARSHAD commented on #105
@119kanika these issues are up for grab.
Select anyone,
https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues?q=is%3Aopen+is%3Aissue+label%3A%22%F0%9F%A4%A9+Up+for+Grab%22

[2021-07-15 12:38] #76 closed

[2021-07-15 12:58] LeeSinYung commented on #4
I would like to try on this.

[2021-07-15 13:02] LeeSinYung opened #113 "Redesign the Faq page."
## Is your feature request related to a problem? Please describe.
The Faq stick the wall

## Describe the solution you'd like
Create a container for faq to avoid the problem

## Additional context
Add any other context about the feature request here.
I would like to try to modify the faq page. Can you assign this issue to me?

[2021-07-15 13:05] DarshGupta1910 commented on #25
@Rishita11 any update?

[2021-07-15 15:11] Ankkkitt opened #115 "Fix footer, navbar and heading in about us page"
## Describe the bug
The heading of About Us would look good if it will be in center, have some padding from the top, and little beat changes.
Plz, assign this issue to me.

[2021-07-15 15:45] QAZIMAAZARSHAD commented on #115
Also, correct the footer and navbar.

Apply the same footer and navbar as in the home page.

[2021-07-15 15:49] Surajvatsya opened #117 "Add Grow & shrink effect to cards of offers section in home page."
## Is your feature request related to a problem? Please describe.
Yes, It would impact the better user experience when someone scroll over offer section.

## Describe the solution you'd like
When the user will hover over the card of the offer section it'll grow and as soon as the user will remove the cursor from the offer cars it'll shrink.

## Additional context
![image](https://user-images.githu

[2021-07-15 16:06] #117 closed

[2021-07-15 16:16] #35 closed

[2021-07-15 17:14] Surajvatsya opened #119 "Enhanced card border and h5 heading text decoration of cards inside Buy Now section"
## Is your feature request related to a problem? Please describe.
yes, it'll enhance the user experience.

## Describe the solution you'd like
Enhanced card border and h5 heading text-decoration of cards inside Buy Now section
## Additional context
![image](https://user-images.githubusercontent.com/68156079/125829400-e7603531-74f5-4621-ae76-e9bf7d298612.png)

[2021-07-15 17:15] Shivani13121007 commented on #23
Please review the landing page as there is not much more so this is what I made.
If you want to suggest anything then you can else I make PR if You like my work.

Well I will make mobile filtration section as well but its not in your page therefore I didn't added it

![Screenshot (145)](https://user-images.githubusercontent.com/68291301/125829233-1a5a27b1-50c4-4c0f-b83f-98b4f8504729.png)
![Screens

[2021-07-15 17:18] Shivani13121007 commented on #23
I tried to use the same images that was in your home page but other images can be used in place of that.
Here is the footer Section
![Screenshot (146)](https://user-images.githubusercontent.com/68291301/125829899-a0690567-9ae5-4219-962e-b65e78d750dc.png)

[2021-07-15 17:18] QAZIMAAZARSHAD commented on #119
Not needed.

Look for some other issues.

[2021-07-15 17:18] #119 closed

[2021-07-15 17:25] QAZIMAAZARSHAD commented on #23
@Shivani13121007 your design looks nice but this is the home page.

By landing page, I meant something like  this
![image](https://user-images.githubusercontent.com/56196640/125830668-9d7f2ef3-ed97-477f-877d-06edaea227c7.png)

After clicking get started user will be redirected to the login/signup page
After signing in user will be redirected to the home page

[2021-07-15 18:30] Shivani13121007 commented on #23
Ohhh okk i got your point...
I'll complete it by today

[2021-07-15 19:31] Ankkkitt commented on #115
ok. Plz, assign this issue to me.

[2021-07-16 02:29] Sia0 opened #122 "Add additional features to contact us page"
## Is your feature request related to a problem? Please describe.
User can type symbol (+-$#@ etc.) in their name.
Email checking is not complete.

## Describe the solution you'd like
Adding regular expression with javascript to do checking.

## Additional context
+ Also link the social media button in contact us to corresponding social media website.

@QAZIMAAZARSHAD Can I work on this?

[2021-07-16 07:19] #122 closed

[2021-07-16 07:42] Baba-Yaga-1 commented on #10
https://baba-yaga-1.github.io/DevIncept/babyAndkids.html

[2021-07-16 08:19] QAZIMAAZARSHAD commented on #52
@ChristineLeong careers, press these are different things don't include it in about us page.

[2021-07-16 08:24] QAZIMAAZARSHAD commented on #10
Footer has been updated check.

The right margin is still a bit more.

And compress the height of the slider a bit.
Also update the images use images which also have like sale, 40% of on boys clothes, etc.

[2021-07-16 08:25] #5 closed

[2021-07-16 09:27] dilroseR commented on #87
can i work on this?

[2021-07-16 09:48] QAZIMAAZARSHAD commented on #87
This is already assigned look for some other issues.

[2021-07-16 11:04] #64 closed

[2021-07-16 13:43] #24 closed

[2021-07-16 13:48] satyampgt4 commented on #4
any updates ...?

[2021-07-16 13:54] satyampgt4 commented on #39
@i-priyanshu any update ..?

[2021-07-16 14:17] mrunmayee9601 opened #124 "Login page validation"
## Describe the bug
On Sign Up page in Name fields ,numbers are also getting accepted. I would like to build a solution where there will be alerts for wrong input in Name fields.
@QAZIMAAZARSHAD Pls assign this issue to me.

[2021-07-16 14:21] QAZIMAAZARSHAD commented on #124
@mrunmayee9601 issue name should be short and descriptive.

[2021-07-16 14:51] purohitmansi commented on #4
Not able to.

On Fri, 16 Jul 2021, 7:18 pm Satyam Dengre, ***@***.***>
wrote:

[2021-07-16 14:52] Surajvatsya opened #125 "Apply creative hover effect on navbar"

[2021-07-16 15:22] QAZIMAAZARSHAD commented on #125
@Surajvatsya update the navbar on every single page.

And apply this effect.

[2021-07-16 15:41] Surajvatsya opened #127 "enhanced visibility of "View Deal" button inside deal of the daysection"
## Is your feature request related to a problem? Please describe.
yes, it will be more readable to users

## Describe the solution you'd like
I'll put a <br>tag above the button

## Additional context
![Screenshot (3288)](https://user-images.githubusercontent.com/68156079/125973409-bb0b8f5b-5ae9-4403-b276-ba03821ca071.png)

[2021-07-16 16:21] #127 closed

[2021-07-16 16:41] #115 closed

[2021-07-16 20:41] i-priyanshu commented on #38
Yes, i am working on it.

[2021-07-16 20:43] i-priyanshu commented on #39
It may take time more than i thought , you can assign it to other person , if they are willing to do.

[2021-07-17 05:25] mrunmayee9601 commented on #124
Okay understood

[2021-07-17 08:26] #52 closed

[2021-07-17 08:58] Baba-Yaga-1 commented on #10
https://baba-yaga-1.github.io/DevIncept/babyAndkids.html

[2021-07-17 09:26] QAZIMAAZARSHAD commented on #10
Footer is not correct.

It should be similar to the footer as in the home page.

[2021-07-17 10:36] Baba-Yaga-1 commented on #10
https://baba-yaga-1.github.io/DevIncept/babyAndkids.html

[2021-07-17 11:21] QAZIMAAZARSHAD commented on #10
![image](https://user-images.githubusercontent.com/56196640/126035236-483c29ee-9a2e-4cc4-9dcf-8fd1861a952a.png)

![image](https://user-images.githubusercontent.com/56196640/126035250-7cc99b68-f175-49fc-afaa-bba3abacc393.png)

Compare.

Correct it.

[2021-07-17 16:39] gassa097 opened #131 "Redesign Stationery Page"
## Is your feature request related to a problem? Please describe.
The design of the stationery page is not consistent with the home page.
The view all brands button is not functioning.

## Describe the solution you'd like
Redesign the stationery page to meet the styling of home page.
Add JavaScript to make the view all button function

## Additional context
Could you assign this issue to me?

[2021-07-17 17:15] tjanhvi opened #132 "Make individual CSS file for each html file."
Please assign me this issue

[2021-07-17 17:17] Surajvatsya opened #133 "Check links in the navbar of all pages"

[2021-07-17 17:18] tjanhvi opened #134 "Correct navbar in all pages and link every page with each other"
It will look decent . Some pages have  nave bar in dark blue color and too thick so i want to set it all in proper way..
Please assign me this issue.

[2021-07-17 17:20] tjanhvi commented on #132
And also it creating major issue in website.

[2021-07-17 17:24] Surajvatsya opened #135 "Better UI for Login Page"
## Describe the bug
Awful UI must be changed on the login page.
## To Reproduce
Steps to reproduce the behavior:
1. Change heading position.
2. change the logo background, it should be in the left corner.
3. Enhance input field.
4. Enhance buttons position.

## Expected behavior
Better from the previous version.

## Environment (please complete the following information):

 - Browser:

## Addition

[2021-07-17 17:32] Surajvatsya opened #136 "Incoherent search bar and search button on offer page."
## Describe the bug
Incoherent search bar and search button on offer page.

## To Reproduce
Steps to reproduce the behavior:
1. Width of the search box must be equal to the width of the search button.

## Expected behavior
Width of both search box and search button should be same.

raceback).

## Environment (please complete the following information):

 - Browser:

## Additional context
![image](

[2021-07-18 00:57] QAZIMAAZARSHAD commented on #134
Also, update all the footers.

Navbar and footer on the homepage are correct.

[2021-07-18 01:01] QAZIMAAZARSHAD commented on #132
Go ahead.

Make an individual CSS file for each page.
Add all the CSS files to the CSS folder.
Also, add all the HTML files to the HTML folder except the index.html.

[2021-07-18 01:02] QAZIMAAZARSHAD commented on #135
This issue is already open.

Before opening any issue make sure that no other similar issue is open.

[2021-07-18 01:02] #135 closed

[2021-07-18 01:03] QAZIMAAZARSHAD commented on #136
This issue will be dealt with in another already opened issue.

[2021-07-18 01:03] #136 closed

[2021-07-18 02:38] Ayonijakaushik19 opened #137 "Create a career page"
It should follow the theme of the website.

Add the same navbar and footer as on the website.

[2021-07-18 02:43] QAZIMAAZARSHAD commented on #137
Yes, that's because the career page does not exist.

[2021-07-18 02:43] Ayonijakaushik19 opened #138 "Press releases nav link is not working under 'GET TO KNOW US'"
## Describe the bug
The 'Press releases' navigation link is redirecting to the  Home page .

## To Reproduce
Steps to reproduce the behavior:
1. Go to home page .
2. Scroll down at the bottom .
3. Click on the 'Press releases' option under 'GET TO KNOW US'

## Expected behavior
It should redirect to the 'Press releases' page instead of same page.

## Environment (please complete the following info

[2021-07-18 02:44] QAZIMAAZARSHAD commented on #137
Would you like to design a career page for this website?

Refer to some other company websites to get an idea of the career page.

[2021-07-18 02:52] Ayonijakaushik19 opened #139 "Create a "Apni Dukaan Cares" page"
It should include social missions, campaigns, charity actions taken by the company Apni Dukaan for society.

Refer to other websites to get an idea.

[2021-07-18 03:07] Ayonijakaushik19 opened #140 "Design the payments page"
The payments page should include policies related to payment on Apni Dukaan.

Like what are the ways to make payment, our partner banks, etc.

Refer to this to have an idea -> https://www.flipkart.com/pages/payments

Page must follow the theme of the website.

[2021-07-18 03:11] Ayonijakaushik19 commented on #137
Hi @QAZIMAAZARSHAD
Sure, I would love to design a career page for this website. Please assign this to me.
Thanks

[2021-07-18 03:22] Ayonijakaushik19 commented on #138
Hi @QAZIMAAZARSHAD ,I would love to design the press release page for the website. Please, assign it to me.

[2021-07-18 03:27] Ayonijakaushik19 commented on #139
Hi, @QAZIMAAZARSHAD ,I like to design the cares page for Apni dukaan . Please assign this to me.

[2021-07-18 04:02] QAZIMAAZARSHAD commented on #137
Are you a part of DCP?

[2021-07-18 04:03] Ayonijakaushik19 opened #141 "Design Shipping Page."
## Is your feature request related to a problem? Please describe.
I got to know that the Shipping page does not exist for this website. because when I was clicking on the page it is redirecting me to the Home/Same page.
## Describe the solution you'd like
I would design a Shipping page for this website.

[2021-07-18 04:03] QAZIMAAZARSHAD commented on #139
I assigned you career page issue.
Once you are done with that I will assign you.

[2021-07-18 04:04] QAZIMAAZARSHAD commented on #138
I already assigned you the career page issue.
Once you are done with that I will assign you this one.

[2021-07-18 04:20] QAZIMAAZARSHAD commented on #140
@Ayonijakaushik19 I will assign you this when you resolve the other assigned issues.

[2021-07-18 05:06] Ayonijakaushik19 opened #142 "Grammatical error in second last question of FAQ page."
## Describe the bug
There is a grammatical error in  the answer of the second last question of FAQ..

## To Reproduce
Steps to reproduce the behavior:
1. Go to FAQ page.
2. Scroll down to the second last question.
3. Click on that.

## Environment (please complete the following information):
 - Browser:

[2021-07-18 05:08] Ayonijakaushik19 commented on #142
![image](https://user-images.githubusercontent.com/84201769/126056470-ecac76b3-f2d0-469e-ae04-119d7082d13d.png)

[2021-07-18 05:11] Ayonijakaushik19 commented on #142
Hi  @QAZIMAAZARSHAD ,please assign it to me.

[2021-07-18 05:17] QAZIMAAZARSHAD commented on #142
Yes go ahead.

Also, rename Flipkart to Apni Dukaan.

[2021-07-18 05:20] QAZIMAAZARSHAD commented on #142
@Ayonijakaushik19 are you part of DCP?

[2021-07-18 06:13] Ayonijakaushik19 opened #144 "I have designed some of the creative logos for this website"
## Describe the solution you'd like
I have designed few unique and creative logos which serves the purpose of this website.

## 1.
![image](https://user-images.githubusercontent.com/84201769/126057557-f21e883e-34e2-4fa4-9082-10f97e9ca88c.png)

##2.
![image](https://user-images.githubusercontent.com/84201769/126057585-3b2fbe42-208b-464c-927b-bdea5ba5626e.png)

##3.
![image](https://user-images.gith

[2021-07-18 06:14] Ayonijakaushik19 commented on #144
Hi @QAZIMAAZARSHAD , please suggest me which looks fine to you ?

[2021-07-18 06:17] QAZIMAAZARSHAD commented on #144
The Blue one matches the theme a bit.

Except for the last one, all look good.

[2021-07-18 06:18] QAZIMAAZARSHAD commented on #144
@Ayonijakaushik19 this issue is already open.

Before opening any issue make sure that no other similar issue is open.

[2021-07-18 06:18] #144 closed

[2021-07-18 06:20] QAZIMAAZARSHAD commented on #144
@Ayonijakaushik19 you can make PR for https://github.com/QAZIMAAZARSHAD/Apni-Dukaan/issues/2.

Add logo 1 and 4 only in the Logo folder.

[2021-07-18 06:52] Ayonijakaushik19 commented on #144
Hi @QAZIMAAZARSHAD ,i have made a PR for #2.Please review.

[2021-07-18 07:10] Ayonijakaushik19 commented on #142
hi @QAZIMAAZARSHAD , i have raise a PR  for this issue. Kindly review.

[2021-07-18 07:17] Ayonijakaushik19 opened #147 "Design the search feature for this website."
## Is your feature request related to a problem? Please describe.
Whatever is given in search option , is redirecting me to the home page instead of the items page.

## Describe the solution you'd like
There should be different pages according to search lists.

[2021-07-18 07:20] QAZIMAAZARSHAD commented on #147
This issue is already open, before opening any issues make sure that no other similar issue is open.

[2021-07-18 07:20] #147 closed

[2021-07-18 10:03] tjanhvi commented on #132
okay :)

[2021-07-18 11:47] #131 closed

[2021-07-18 13:51] Shivani13121007 commented on #23
How can i get the updated code of index.html file?
As I did git fetch upstream But it shows the same navbar as that was  earlier

[2021-07-18 13:57] QAZIMAAZARSHAD commented on #23
![image](https://user-images.githubusercontent.com/56196640/126069980-d87b0bf9-71d2-4a99-ae0b-b5c1b9dc6e46.png)

See it is saying this branch is 51 commits behind my branch.
You will see the fetch upstream on the right side.
Click on it.

Then clone the updated repo.

[2021-07-18 15:31] Shivani13121007 commented on #23
Is it fine?
![Screenshot (157)](https://user-images.githubusercontent.com/68291301/126073011-94e99786-1579-4fea-99d8-570cfeffc392.png)

[2021-07-18 15:57] QAZIMAAZARSHAD commented on #23
Looks nice.

Make sure this page should be index.html.
Rename index.html to home.html.
Redirect the Get Started button to the login page.
Change the location of links in all pages, since index.html will be home.html.

[2021-07-18 16:08] Shivani13121007 commented on #23
so when should I display index.html file?
I mean when user clicks on home.html file he will be redirected to home page
so should I Redirect user on index.html page when he clicks on logo?

[2021-07-18 16:09] Shivani13121007 commented on #23
I'm done with these 4 instructions:

Make sure this page should be index.html.
Rename index.html to home.html.
Redirect the Get Started button to the login page.
Change the location of links in all pages, since index.html will be home.html.

[2021-07-18 16:15] QAZIMAAZARSHAD commented on #23
Fine make PR.

Also, share the link to your website so I can review your changes.

[2021-07-18 18:18] #142 closed

[2021-07-19 05:47] Shivani13121007 commented on #23
https://elated-wozniak-048845.netlify.app/

[2021-07-19 05:55] #23 closed

[2021-07-19 07:01] Baba-Yaga-1 commented on #10
https://baba-yaga-1.github.io/DevIncept/babyAndkids.html

I updated it.

[2021-07-19 07:23] 2024-SANDHYA opened #152 "Login/SingUp Form"
Redesigning Login/Signup form.

[2021-07-19 08:02] QAZIMAAZARSHAD commented on #152
@2024-SANDHYA this issue is already open.

Once the new design is accepted you are welcome to redesign that if you have any better ideas.

[2021-07-19 08:02] #152 closed

[2021-07-19 08:05] QAZIMAAZARSHAD commented on #10
Nope.

Not reflected in the link you shared.
![image](https://user-images.githubusercontent.com/56196640/126125148-c094cc13-2920-46e6-ac24-d06cdf3b6245.png)

[2021-07-19 16:49] satyampgt4 commented on #11
@tjanhvi any updates ...?

[2021-07-19 16:51] anupamishra333 opened #153 "Update Login Page"
The Login and Signup page is not attractive, we have to update it.

[2021-07-19 16:55] satyampgt4 commented on #25
@Rishita11 are you working on it ....?

[2021-07-19 16:57] satyampgt4 commented on #21
@DarshGupta1910 any new update...

[2021-07-19 17:01] satyampgt4 commented on #27
@K-jais @techabhi08  any update...?

[2021-07-19 17:02] satyampgt4 commented on #87
@PrathmeshMutke any update...?

[2021-07-19 17:02] Rishita11 commented on #25
I have completed this. But I am facing a problem in creating a pull request. Kindly help me with the same.

[2021-07-19 17:09] K-jais commented on #27
I am working on it . I will make its PR in next 2-3 days

[2021-07-19 17:37] DarshGupta1910 commented on #25
@Rishita11 please share a screenshot of the issue you are facing

[2021-07-19 18:35] Rishita11 commented on #25
@DarshGupta1910  Thank you, but I have resolved the issue now.

[2021-07-19 20:00] pushpakumari5117 commented on #139
Hello @QAZIMAAZARSHAD, I would love to design this page. Can you please assign this issue to me?

[2021-07-20 03:58] QAZIMAAZARSHAD commented on #153
@anupamishra333 this issue is already open. Before opening, any issues make sure that no other similar issue is open.

[2021-07-20 03:58] #153 closed

[2021-07-20 07:21] #45 closed

[2021-07-20 07:22] QAZIMAAZARSHAD commented on #34
@aishwaryas15 any updates?

[2021-07-20 07:22] QAZIMAAZARSHAD commented on #8
@tany1014 any updates?

[2021-07-20 07:23] QAZIMAAZARSHAD commented on #19
@Kjp04 any updates?

[2021-07-20 07:24] QAZIMAAZARSHAD commented on #60
@Abhishek-Sahoo any updates?

[2021-07-20 07:24] #26 closed

[2021-07-20 07:28] Kjp04 commented on #19
I made few changes please let me know are the conflicts resolved?

[2021-07-20 07:31] QAZIMAAZARSHAD commented on #19
No.

Your repo is 150 commits behind. Fetch upstream.

And share a link of your website so I can review your changes.

[2021-07-20 07:33] Abhishek-Sahoo commented on #60
@QAZIMAAZARSHAD @satyampgt4. Due to my personal problem I am unable to work on the task. You may unassign me or allow me more 2 days.
Sorry for inconvenience

[2021-07-20 07:34] QAZIMAAZARSHAD commented on #60
Ok, you have 2 more days.

Don't take too long this time.

[2021-07-20 07:37] Kjp04 commented on #19
I will make the required changes
Thank you!

On Tue, 20 Jul, 2021, 1:01 pm Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-07-20 07:41] Abhishek-Sahoo commented on #60
Thank you.

[2021-07-20 08:04] Baba-Yaga-1 commented on #10
Can you check it?

https://baba-yaga-1.github.io/DevIncept/babyAndkids.html

[2021-07-20 08:06] QAZIMAAZARSHAD commented on #10
No not correct.

Why are you struggling too much in this part, just copy the code from other pages.

[2021-07-20 08:07] QAZIMAAZARSHAD commented on #10
Your navbar is also wrong.

Correct that as well.

[2021-07-20 08:16] Baba-Yaga-1 commented on #10
Don't you think I copied the codes ?
Let me show you the proof.
This is the home page that i am able to view after opening it from my local repo.

![homepage](https://user-images.githubusercontent.com/56999749/126285927-1f70af44-ff0f-4d1e-9bc5-c4a8c46139bb.JPG)

This is the babyandkids page,

![babyAndkidspage](https://user-images.githubusercontent.com/56999749/126286113-3824c4ce-d723-480f-a514-a7

[2021-07-20 08:23] QAZIMAAZARSHAD commented on #10
![image](https://user-images.githubusercontent.com/56196640/126287228-f10793ed-749b-4e64-b750-b7809b6dae64.png)
![image](https://user-images.githubusercontent.com/56196640/126287145-3f965e3f-6fcf-49d5-ae4d-c5abeab8fe4c.png)

This is the screenshot of when I open your link.

[2021-07-20 08:23] QAZIMAAZARSHAD commented on #10
Something must be wrong.

[2021-07-20 08:24] QAZIMAAZARSHAD commented on #10
Create a PR then we will figure out what's wrong.

[2021-07-20 08:32] QAZIMAAZARSHAD opened #156 "Add "Our Partners" link in the footer"
Add it in the "Get to know us" section.
Link it with the partners page.

Update footers of all the pages.

[2021-07-20 10:57] Baba-Yaga-1 commented on #10
I made the PR, you can check it.

[2021-07-20 13:07] aishwaryas15 commented on #34
website link?

[2021-07-20 13:13] QAZIMAAZARSHAD commented on #34
Deploy your website anywhere like GitHub pages, repl.it, netify, etc. then share link.

[2021-07-20 13:33] aishwaryas15 commented on #34
Sure I'll send the link soon.Thank you.

[2021-07-20 14:17] tjanhvi opened #162 "Change the content of font size of the footer and adjust it in proper manner."
Please assign me this issue.

[2021-07-20 14:21] QAZIMAAZARSHAD commented on #162
Will assign you.

First, resolve the other issues that are assigned to you.

[2021-07-20 14:24] tjanhvi commented on #162
okay sure :)

[2021-07-20 16:20] dineshkumar12004 commented on #156
hey can i work on this issue @QAZIMAAZARSHAD

[2021-07-20 16:34] #60 closed

[2021-07-20 16:40] QAZIMAAZARSHAD opened #165 "Redesign books page"

[2021-07-20 16:41] QAZIMAAZARSHAD opened #166 "Redesign stationary page"

[2021-07-20 17:51] harshithatnbr commented on #14
![image](https://user-images.githubusercontent.com/56475512/126371380-9f7d7f74-046e-44d6-b366-f0169afc66fb.png)
@QAZIMAAZARSHAD
This is the present index page of website.  Should I keep the login page when the user clicks **get started** button? Or should I keep Login page as index page of website ?

[2021-07-20 19:21] harshithatnbr commented on #14
https://Apni-Dukaan.harshithatnbr.repl.co
@QAZIMAAZARSHAD  I have designed login page as index page and sharing the website. Please tell me the changes I have to do before I make pull request.

[2021-07-21 01:57] QAZIMAAZARSHAD commented on #14
No, when the user clicks on Get started then the user should be redirected to login page.

Don't change the index page.

[2021-07-21 10:27] Abhishek-Sahoo commented on #60
Is there any form to be filled after my PR is merged. It was once told by Devincept team.

[2021-07-21 10:38] priyanshi5 commented on #166
I would like to work on this issue. Please assign this issue to me under DCP21.

[2021-07-21 10:58] QAZIMAAZARSHAD commented on #60
Yes, check the description in the slack channel.

[2021-07-21 11:13] bindalsarthak03 commented on #162
assign me ...i can do this

[2021-07-21 11:52] QAZIMAAZARSHAD commented on #162
@bindalsarthak03 two similar issues are already open.

You can try these up for grab issues.
https://github.com/QAZIMAAZARSHAD/Apni-Dukaan/issues?q=is%3Aopen+is%3Aissue+label%3A%22%F0%9F%A4%A9+Up+for+Grab%22

[2021-07-21 11:52] #162 closed

[2021-07-21 11:55] #10 closed

[2021-07-21 14:01] #14 closed

[2021-07-21 14:07] #1 closed

[2021-07-21 15:46] 2024-SANDHYA commented on #165
@QAZIMAAZARSHAD  I would like to enhance the page. Will divide into categories & add effects

[2021-07-22 06:04] #27 closed

[2021-07-22 19:28] tjanhvi opened #171 "Adjust Login page."
Please assign me this issue.
I want to adjust the login page at the center and adjust the input area.

[2021-07-23 04:41] QAZIMAAZARSHAD commented on #171
@tjanhvi you are already assigned to three other issues please complete them first.

[2021-07-23 10:12] K-jais commented on #140
Please assign this issue to me. I will handle the payment gateway functionality in it.

[2021-07-23 10:13] K-jais commented on #140
@QAZIMAAZARSHAD

[2021-07-23 10:16] K-jais commented on #141
Please assign this issue to me. I will design this page that goes well with the theme of the website.

[2021-07-23 11:10] QAZIMAAZARSHAD commented on #141
Other issues are also assigned to you first resolve them.

[2021-07-24 08:20] #171 closed

[2021-07-24 08:21] tjanhvi commented on #11
doing .....
I will inform you soon

[2021-07-24 18:37] K-jais commented on #141
Now assign this issue to me @QAZIMAAZARSHAD

[2021-07-24 19:22] aditya687 commented on #21
I want to improve the product page @satyampgt4

[2021-07-25 04:42] QAZIMAAZARSHAD commented on #140
@K-jais I think you never read the issue description.

[2021-07-25 04:46] QAZIMAAZARSHAD commented on #141
Resolve other issues first. Taking many issues at a time will not help.

[2021-07-25 04:52] QAZIMAAZARSHAD commented on #21
@aditya687 whenever the user clicks on buy now on any product it should be redirected to this products page.
The product page must include pictures, product description, price, and add to cart and buy now button.
On clicking add to cart button it should be redirected to my cart page.
On clicking buy now it should be redirected to the payments page which is yet to be created.

[2021-07-25 06:04] K-jais commented on #140
Ok I have made the wrong page as per the discription of the issue but still that page is needed in your website.
So should I make the PR of the payments page or should I delete it.
@QAZIMAAZARSHAD

[2021-07-25 06:06] K-jais commented on #140
I will make that policy page as well but that payments page is still needed in this project. Isn't it?
@QAZIMAAZARSHAD

[2021-07-25 06:12] QAZIMAAZARSHAD commented on #140
Yes.
But the issue is already open, and someone is working on it.

[2021-07-25 06:19] K-jais commented on #140
Ok then can you ask her for any updates regarding that as it's been 3-4 days since her PR has been rejected for the same.  And mine page is ready to be merged in your project with a better UI.
@QAZIMAAZARSHAD

[2021-07-25 06:28] QAZIMAAZARSHAD commented on #140
Fine make a PR.

But you have not linked the payments page anywhere.

When the user clicks on the buy now in my cart page it should be redirected to the payments page.

[2021-07-25 06:37] K-jais commented on #140
Ok ok I will make that PR and add the links for it in there.

[2021-07-26 04:47] LeeSinYung commented on #113
@QAZIMAAZARSHAD  I had modify the faq page. Have a look on my pull request. Thank you.

[2021-07-26 06:10] #113 closed

[2021-07-26 06:10] QAZIMAAZARSHAD commented on #113
@LeeSinYung are you part of DCP?

[2021-07-26 06:18] LeeSinYung commented on #113
I am not part of DCP.

[2021-07-26 11:09] dilroseR commented on #87
if it is not done then can i take up this?

[2021-07-26 12:26] QAZIMAAZARSHAD opened #177 "Correct the images size in index page"

[2021-07-26 14:39] satyampgt4 commented on #139
@pushpakumari5117 any updates

[2021-07-26 14:46] satyampgt4 commented on #156
@dineshkumar12004  any update...?

[2021-07-26 14:47] satyampgt4 commented on #137
@Ayonijakaushik19   any update...?

[2021-07-26 14:48] satyampgt4 commented on #133
@Surajvatsya  any update...?

[2021-07-26 14:49] 2024-SANDHYA commented on #165
Yes. It'll take 2-3 more days to complete.

[2021-07-26 14:51] dilroseR commented on #177
can i take up?

[2021-07-26 14:54] dineshkumar12004 commented on #156
was busy with some other stuff sorry you can take it @satyampgt4

[2021-07-26 14:56] #87 closed

[2021-07-26 14:59] dilroseR commented on #177
I can see the image on index page, but what exactly needs to be done?
what size of img should i put?

[2021-07-26 15:01] QAZIMAAZARSHAD commented on #177
It should occupy the full screen.

Check responsiveness as well.

[2021-07-27 07:41] dilroseR commented on #177
sorry i'm not able to resolve

[2021-07-27 07:45] QAZIMAAZARSHAD commented on #177
The image was fine prior to few updates,

Check PR for adding the landing page. Or view few latest commits.

[2021-07-27 10:59] mayank-wadhwa-git commented on #156
I would like to work on this issue @QAZIMAAZARSHAD

[2021-07-27 16:11] QAZIMAAZARSHAD commented on #133
@Surajvatsya you have to link all pages with each other.

[2021-07-27 16:38] dilroseR commented on #177
sorry @QAZIMAAZARSHAD not able to resolve
i tried.

[2021-07-27 16:41] QAZIMAAZARSHAD commented on #177
Fine

[2021-07-27 17:01] #156 closed

[2021-07-28 09:25] pushpakumari5117 commented on #139
@satyampgt4 I am working on it.

[2021-07-28 10:33] #165 closed

[2021-07-28 10:45] K-jais commented on #141
Now assign this issue to me @QAZIMAAZARSHAD

[2021-07-28 10:48] #133 closed

[2021-07-28 10:49] QAZIMAAZARSHAD commented on #133
@Surajvatsya another similar issue is open if you like to resolve it ping me there.

[2021-07-29 16:53] K-jais commented on #137
Assign this issue to me
@QAZIMAAZARSHAD

[2021-07-29 17:02] #141 closed

[2021-07-30 19:40] dilroseR commented on #4
can i know which items?

[2021-07-31 04:13] QAZIMAAZARSHAD commented on #4
All the products available on the website.

Since the UI of the website is not uniform and is still in the design phase.
I suggest leaving this issue for later.

[2021-08-01 04:30] shreyshreyansh opened #187 "Stlying of login form can be better"
![Screenshot 2021-08-01 095946](https://user-images.githubusercontent.com/53744971/127759323-c25367c4-15af-4068-a57a-4202dcd51774.png)

[2021-08-01 04:40] #187 closed

[2021-08-01 08:38] #140 closed

[2021-08-01 08:42] #34 closed

[2021-08-01 16:25] satyampgt4 commented on #15
@harshita9621 are you facing any difficulties while solving this issue...?

[2021-08-01 16:27] satyampgt4 commented on #20
@neha030 any update ...?

[2021-08-01 16:29] satyampgt4 commented on #25
@QAZIMAAZARSHAD  is this solved or in process ....?

[2021-08-01 16:30] satyampgt4 commented on #38
@i-priyanshu  are you facing any difficulties in solving this issue...?

[2021-08-01 16:32] satyampgt4 commented on #124
@mrunmayee9601  any updates.........?

[2021-08-01 17:03] Kulshre142 commented on #134
@QAZIMAAZARSHAD  Can I work on this issue?

[2021-08-02 04:13] QAZIMAAZARSHAD commented on #25
Open

[2021-08-02 10:35] shreyshreyansh opened #191 "Home page navbar doesn't have login button"
![Screenshot 2021-08-02 160418](https://user-images.githubusercontent.com/53744971/127848400-54cc68bf-79cc-4501-9235-47c86cdcff56.png)

[2021-08-02 10:44] #191 closed

[2021-08-02 12:00] #137 closed

[2021-08-03 05:44] shreyshreyansh opened #195 "Add a Login button on index page navbar"
![Screenshot 2021-08-03 111331](https://user-images.githubusercontent.com/53744971/127964063-4566e928-71b4-4055-aac9-3b1a7fb38f32.png)

[2021-08-03 05:51] QAZIMAAZARSHAD commented on #195
@shreyshreyansh the Get started button redirects the user to the login page.

There is not even a need for a navbar on the index page.

[2021-08-03 05:52] QAZIMAAZARSHAD commented on #195
Would you like to redesign the index page?

No navbar.
Full-screen image.
New design/style.
One button which redirects to the login page.

[2021-08-03 12:25] Swastik1710 commented on #15
Hey, can i work on this?

[2021-08-03 18:11] Swastik1710 commented on #15
![ezgif com-gif-maker(5)](https://user-images.githubusercontent.com/71871571/128065065-5df9171b-414b-4361-8d37-eebfdd05feb2.gif)

@QAZIMAAZARSHAD , please have a look.

[2021-08-04 04:21] QAZIMAAZARSHAD commented on #15
Looks great you can make PR. Check validation as well.
Username must accept only alphanumeric characters.
Password must have at least one uppercase letter, one number, one special character, and minimum length must be 8 and max 16.

Also, check the responsiveness.

[2021-08-04 06:39] shreyshreyansh opened #197 "40000 + 100 = 40100"
![Screenshot 2021-08-04 120534](https://user-images.githubusercontent.com/53744971/128133424-ddec5d51-1393-4415-91d3-4987589f7865.png)

[2021-08-04 07:28] #197 closed

[2021-08-04 10:49] #139 closed

[2021-08-04 10:54] QAZIMAAZARSHAD opened #201 "Improve the heading and edit content in Apni Dukaan Cares page"

[2021-08-04 11:14] #15 closed

[2021-08-05 08:24] K-jais opened #202 "Add Privacy Policy Page"
This website should have a privacy policy page.
Like this - https://www.flipkart.com/pages/privacypolicy?otracker=undefined_footer_navlinks

Please assign this issue to me.

[2021-08-05 08:25] K-jais commented on #202
@QAZIMAAZARSHAD

[2021-08-05 08:33] #105 closed

[2021-08-05 08:33] #39 closed

[2021-08-05 08:37] QAZIMAAZARSHAD commented on #134
@Kulshre142 any updates?

[2021-08-05 15:24] mayuribotre15 commented on #125
Is this issue still open?
I want to apply a creative hover effect on the navbar.

[2021-08-05 15:29] mayuribotre15 commented on #124
I want to apply for login page validation.
I have done a similar project, check here:
https://mayuribotre15.github.io/validation-form.github.io/

[2021-08-05 16:04] QAZIMAAZARSHAD commented on #124
@mayuribotre15 sign-up is already fine.

The login page can be improved.

But don't do like you have shown in that link. Generate a sweet alert for every warning and submission.

[2021-08-05 16:05] QAZIMAAZARSHAD commented on #124
@mayuribotre15 I will assign you this issue once you resolve the other assigned issue.

[2021-08-05 20:31] Akamourya18 commented on #201
Please assign this issue to me.

[2021-08-06 08:51] dilroseR commented on #21
can i know more?

[2021-08-06 09:12] QAZIMAAZARSHAD commented on #21
whenever the user clicks on buy now on any product it should be redirected to this products page.
The product page must include pictures, product description, price, and add to cart and buy now button.
On clicking add to cart button it should be redirected to my cart page.
On clicking buy now it should be redirected to the payments page which is yet to be created.

[2021-08-06 09:13] QAZIMAAZARSHAD commented on #21
Anything else you want to know?

Should I assign you.

[2021-08-06 09:16] dilroseR commented on #21
but the buy now button is itself in products page then why to redirect on the products page button again.. confused with that
is the product page developed already and only connection part is required?
or do i need to develop it from start?

[2021-08-06 09:24] QAZIMAAZARSHAD commented on #21
https://qazimaazarshad.github.io/Apni-Dukaan/product.html

This is the current page, modify it completely.
The purpose of the product page is to give detailed information about products like quality, content, customer review, price, etc.

As for the "buy now" button, we can modify all the "buy now" buttons on each category page to "view product details" or "know more".

[2021-08-06 09:30] dilroseR commented on #21
sorry wont be able to do it

[2021-08-06 14:56] #201 closed

[2021-08-08 04:37] #202 closed

[2021-08-10 05:39] shreyshreyansh opened #209 "Images looks streachy"
![Screenshot 2021-08-10 110342](https://user-images.githubusercontent.com/53744971/128813934-40c492ee-3313-4394-b3b1-25dedc555bd7.png)

[2021-08-10 05:44] #209 closed

[2021-08-10 17:27] #11 closed

[2021-08-12 06:44] shreyshreyansh opened #213 "Home button on contact page not working"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following information):
 - O

[2021-08-12 06:49] #213 closed

[2021-08-14 06:28] mayuribotre15 commented on #125
I am working on your task. I will get back to you as soon as task completed.

[2021-08-20 04:52] shreyshreyansh opened #215 "Faq answer"
I think giving the faq answer a background will make it look better

![Screenshot 2021-08-20 101955](https://user-images.githubusercontent.com/53744971/130180929-55c70fb8-1f9c-4445-8f22-1fe53aebd61e.png)

[2021-08-20 05:00] #215 closed

[2021-08-29 05:04] shreyshreyansh opened #217 "Buy now boxes do not have margin bottom"
The boxes stick to each other

![Screenshot 2021-08-29 102713](https://user-images.githubusercontent.com/53744971/131239090-464fc0ba-e499-46a4-9856-c0414a988a56.png)

[2021-08-29 05:48] #217 closed

[2021-08-29 10:06] rohit306-bit opened #220 "Make navbar fixed"
## Is your feature request related to a problem? Please describe.
when we make static header section which is best for navigation perspective because if we go to the bottom of page then we doesn't scroll up again because static header section stick on top so we easily navigate on the other pages and other features.

## Describe the solution you'd like
A clear and concise description of what you wa

[2021-08-29 10:39] QAZIMAAZARSHAD opened #221 "Fix size of search bar in navbar"

[2021-08-29 14:19] jim4067 commented on #221
hello 👋🏾
Should it be longer or?

[2021-08-29 15:04] QAZIMAAZARSHAD commented on #221
Currently, its height is a bit longer than the navbar.

In a few pages, it is fine but different in few pages.

Try to modify it so it does not exceed the navbar.

[2021-08-30 16:32] #221 closed

[2021-09-13 17:48] RituSingh2002 commented on #220
@QAZIMAAZARSHAD   I would like to work on than issue

[2021-09-13 17:52] RituSingh2002 commented on #125
@QAZIMAAZARSHAD I would like to work on than issue

[2021-09-14 04:29] QAZIMAAZARSHAD commented on #125
Do it for all the pages.

[2021-09-14 04:29] #220 closed

[2021-10-01 05:04] shreyshreyansh opened #223 "Categories button not working on furniture.html"

[2021-10-01 05:09] QAZIMAAZARSHAD commented on #223
@shreyshreyansh this issue is already open https://github.com/QAZIMAAZARSHAD/Apni-Dukaan/issues/134.

Ping me on this issue, I will assign you.

[2021-10-01 05:09] #223 closed

[2021-10-01 17:54] EmilyDSarani commented on #195
Could I try to work on this?

[2021-11-02 06:03] QAZIMAAZARSHAD opened #224 "Update screenshots in the readme"

[2021-11-05 14:16] trantran199 commented on #224
is it still open?

[2021-12-13 14:59] prabhxjottsingh opened #225 "Cursor not changing to pointer on SIGNUP and SIGNIN buttons"
## Describe the bug
On ```login.html``` page, cursor is not changing its type to POINTER on hovering over the ```signup``` and ```signin``` buttons

## To Resolve
Steps to resolve the issue:
1.  Adding ```Pointer``` element in CSS file.

## Expected behavior
Cursor is supposed to changed its type to pointer on hovering over the buttons.

## Environment (please complete the following information):

[2021-12-13 17:07] #225 closed

[2022-04-17 03:51] anupammaurya6767 commented on #125
@QAZIMAAZARSHAD Only color change or any size change also on hovering?

[2022-04-17 07:02] anupammaurya6767 commented on #2
![Screenshot 2022-04-17 123119](https://user-images.githubusercontent.com/96181413/163704344-93f4b11d-b4ff-4e73-bd43-363344e010aa.png)

@QAZIMAAZARSHAD how's this one?

[2022-04-17 07:14] QAZIMAAZARSHAD commented on #125
Yes, color change, size change, hover effect.
Everything you can do to enhance the look.

[2022-04-17 07:24] #19 closed

[2022-04-17 07:29] QAZIMAAZARSHAD commented on #2
Nice,

Update the tagline "Online Solution" with something more Indian just like the name 'Apni Dukaan'.

[2022-04-17 08:08] anupammaurya6767 commented on #2
![rgs](https://user-images.githubusercontent.com/96181413/163706155-ba34a458-8228-419b-9116-595bcbe19a66.png)

@QAZIMAAZARSHAD old tagline cant find anything else 😅

[2022-04-17 08:43] QAZIMAAZARSHAD commented on #2
Fine,

Add the image in the logo folder.
Images -> Logo

You can also update the logo everywhere on the website.

[2022-04-23 09:58] #132 closed

[2022-04-23 10:05] QAZIMAAZARSHAD opened #231 "Redesign Offers Page"
Make improvements or completely redesign the page.

https://qazimaazarshad.github.io/Apni-Dukaan/offers.html

Make sure the new design must be similar to the entire theme of the website.

[2022-04-23 10:08] QAZIMAAZARSHAD opened #232 "Redesign the login page"
https://qazimaazarshad.github.io/Apni-Dukaan/login.html

Index Page -> Login Page -> Home Page

All input fields must be validated.

[2022-04-23 10:15] QAZIMAAZARSHAD opened #233 "Link all the pages to footer in all pages"
For Example - The partner Store page should be linked to "Become our partner" in the footer.

[2022-04-25 17:08] AmjadNoor commented on #233
Can you assign it to me?

[2022-04-25 17:37] AmjadNoor commented on #233
- For **Become our partners** we should have separate page I think so. Like a form page where the company will fill his information to collaborate with _Apnidukaan.com_.

- Also many pages were not created for ex:- for reporting an issue, cancellation and return etc.

# What should I do then can you guide me further?

[2022-04-25 17:44] QAZIMAAZARSHAD commented on #233
Link all the pages that are already available.

As for those pages that are not yet created.
You can go ahead and open issues to create those pages.

You can also try to create those pages.

And about the submission form idea for become our partners page.
You can go ahead and try to add more features and your ideas to improve the partners page.

But as of now just linking the partners page to the

[2022-04-26 05:29] #233 closed

[2022-09-09 00:59] Riya123-code commented on #124
can i work on login page validation?

[2022-09-15 15:36] QAZIMAAZARSHAD commented on #124
Re: Can you please let me know what all validations Are to be added other than on the signUp page username field?

@Riya123-code

- Correct emails should be accepted in the mail field, like xyz@gmail.com or xyz@co.com. But entries like h6@g.ccccc are also getting accepted.
- And the password requires only 6 characters right now, add a few more constraints like the range should be 6-18 characters,

[2022-09-18 11:49] #124 closed

[2022-10-02 05:23] MohamedMafaz commented on #232
Hi Bro!
I'm UI Designer and front-end developer. So, I am best for this issue. Please Assign me this issue. Then, I'll work in it.

[2022-10-02 08:25] navya-Singla-1-3-0-9 commented on #231
Is this issue still open for Hacktoberfest? Can I work on this?

[2022-10-03 07:59] Sanjanabharadwaj25 commented on #177
Hey, can I work on this issue under Hacktoberfest 2022?

[2022-10-03 08:06] MohamedMafaz commented on #8
HI bro!
I already worked on Login Page Can I also work in it. Please assign me this issue.

[2022-10-03 08:06] MohamedMafaz commented on #8
HI bro!
I already worked on Login Page Can I also work in it. Please assign me this issue.

[2022-10-03 08:41] QAZIMAAZARSHAD commented on #8
Still not finished. Check!

Resolve that first.

[2022-10-03 09:01] #231 closed

[2022-10-03 09:38] Shravanikale commented on #224
hey @QAZIMAAZARSHAD i want to work on this issue can you please assign it to me!!here is the sample for it(Home-page)!-
![Uploading screencapture-qazimaazarshad-github-io-Apni-Dukaan-home-html-2022-10-03-15_01_45.png…]()

[2022-10-03 09:45] ysh-01 commented on #224
Hi. I can update the screenshots in read-me file. Can you please assign this issue to me?

[2022-10-03 09:50] QAZIMAAZARSHAD commented on #224
Add screenshots of every page.

[2022-10-03 09:53] ysh-01 commented on #224
Sure!

[2022-10-03 10:52] navya-Singla-1-3-0-9 commented on #7
Can you please assign this issue to me if it is still open?

[2022-10-03 16:01] #134 closed

[2022-10-03 16:11] #125 closed

[2022-10-03 16:28] neeraj542 commented on #166
Please assign me this. Want to work on this issue for first pull request

[2022-10-03 16:29] neeraj542 commented on #2
**want to work in this issue**

[2022-10-03 16:30] neeraj542 commented on #8
Can i work on this issue

[2022-10-03 18:07] neeraj542 commented on #166
should I work on the slider images and also changing the text that is overlapping there?

[2022-10-03 18:07] neeraj542 commented on #8
ok..

[2022-10-04 03:19] #224 closed

[2022-10-04 04:56] neeraj542 commented on #166
I have edit on that page

[2022-10-04 04:56] neeraj542 commented on #166
![save2](https://user-images.githubusercontent.com/114648043/193737624-ec877428-94b8-4b39-87b2-2f0a2c832505.png)

[2022-10-04 05:13] QAZIMAAZARSHAD commented on #166
Looks nice.
But have you changed only the picture?

Try adding more features and add more style and content to the page.

Then raise a PR for this issue. Also, provide a live link to your website so I can review your changes.

[2022-10-04 05:18] neeraj542 commented on #2
![LOGO-APNIDUKAN](https://user-images.githubusercontent.com/114648043/193740304-28ebb9ac-1fd2-4bb0-b286-98ff3a10cc85.png)

[2022-10-04 05:19] neeraj542 commented on #2
should I upload it on website

[2022-10-04 05:41] QAZIMAAZARSHAD commented on #2
No, It doesn't look great.

Just add your logo image in the logo's folder.

[2022-10-04 11:23] neeraj542 commented on #166
Yes, I makes the changes in only picture yet.

[2022-10-05 04:28] neeraj542 commented on #2
Logo uploadation is done in that particular folder

[2022-10-05 05:14] sanjana317 opened #248 "Make the navbar sticky"
The navbar can be made sticky to enhance the design. It'll make it easier for users because they don't have to scroll every time.
Could you assign me this under hacktoberfest2022?

[2022-10-05 06:41] QAZIMAAZARSHAD commented on #2
Raise PR then.

[2022-10-05 06:42] QAZIMAAZARSHAD commented on #248
Do it for all the pages on the website.

[2022-10-05 07:05] shrutimeg commented on #248
I want to solve this issue please assign this issue to me.

[2022-10-05 07:11] shrutimeg commented on #166
assign this issue to me

[2022-10-05 07:13] shrutimeg commented on #7
Assign this issue to me so I can design this page.

[2022-10-05 07:13] neeraj542 commented on #166
I'm working on the css file as well the navbar

[2022-10-05 07:24] QAZIMAAZARSHAD commented on #248
@sanjana317 is working on this issue.

[2022-10-05 07:26] QAZIMAAZARSHAD commented on #7
@navya-Singla-1-3-0-9 is working on this issue.

[2022-10-06 20:06] c99SRS commented on #232
Hi @QAZIMAAZARSHAD please assign this to me. I have experience with this. Can add value

[2022-10-06 20:19] c99SRS opened #250 "Add Error page"
## Is your feature request related to a problem?

Every site requires a error page to show whenever something wrong happen
## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2022-10-06 20:20] c99SRS commented on #250
HI @QAZIMAAZARSHAD please assign this to me

[2022-10-07 05:10] QAZIMAAZARSHAD commented on #250
@c99SRS also link that page to everywhere where something is missing.

[2022-10-07 05:13] #25 closed

[2022-10-07 05:30] 889-dj commented on #2
hello @QAZIMAAZARSHAD sir I also wanted to work on this

[2022-10-07 08:07] 889-dj commented on #2
![1](https://user-images.githubusercontent.com/73821023/194504584-8ce46656-2c96-4e51-bbe1-9cf7c9e4c7e5.png)
![2](https://user-images.githubusercontent.com/73821023/194504617-d8fe5f7a-7034-470c-a1de-453347
![3](https://user-images.githubusercontent.com/73821023/194504643-9324a80b-63f8-42e2-8c25-3fab49c31508.png)
c86737.png)

hope these luks gud :)

[2022-10-07 20:25] c99SRS commented on #250
Sure @QAZIMAAZARSHAD . Working on it

[2022-10-07 21:22] c99SRS opened #252 "Distorted Page after clicking BUY"
## Describe the bug

When you're clicking buy on the bookstore, it is redirecting to a distorted page.
## To Reproduce
Steps to reproduce the behavior:
1.  Go to BookStore
2.  Then click on any card to **BUY**
3. After clicking buy, some dummy page is coming
4. You can see the  distorted orientation

## Expected behavior
Alignment and page orientation are totally different from the parent page. It

[2022-10-07 21:23] c99SRS commented on #252
HI @QAZIMAAZARSHAD please assign this issue to me under hacktoberfest tag.  Please let me know if can't reproduce this one. Happy to make changes

[2022-10-08 09:58] QAZIMAAZARSHAD commented on #252
@c99SRS #250 this issue is already open and you are working on it.
Replace the dummy page with that error page when you are done.

If you want you can create a new buy page or products page when the user clicks on buy.

[2022-10-08 09:58] #252 closed

[2022-10-08 11:41] 889-dj commented on #2
@QAZIMAAZARSHAD  can I add the images in the logo folder and make a pr ?

[2022-10-08 11:46] QAZIMAAZARSHAD commented on #2
@889-dj
![image](https://user-images.githubusercontent.com/56196640/194705798-736147af-3b34-443e-81bb-edc40b4c7b29.png)

This looks good.
You can update logo everywhere in the website.

[2022-10-08 12:20] neeraj542 opened #253 "Need to update crousels in the furniture page"
This issue generated because of fonts and text color is not matching with the slide images and images should be match with the content.

[2022-10-08 13:04] 889-dj commented on #2
hello @QAZIMAAZARSHAD just a lil query as there are so many files to be edited its becoming a lil clumsy for me though i have make changes to 4 files could u plz tell me if i should squash these prs or simply open different pull request

[2022-10-08 13:10] QAZIMAAZARSHAD commented on #2
I suggest make a fresh PR where all the pages are updated.

[2022-10-08 13:14] neeraj542 commented on #253
![furnitureSale](https://user-images.githubusercontent.com/114648043/194709416-a97a3b8d-6ed6-4e80-90b4-9d4562970b86.png)

[2022-10-08 13:15] neeraj542 commented on #253
can i update this as a crousel 1st on the furniture page

[2022-10-08 13:16] 889-dj commented on #2
can u plz guide me how to do that as i have searched for it that's why i raised this query or are u simply suggesting me to squash my commits

[2022-10-08 13:20] 889-dj commented on #2
as i searched for it and the first result from stackoverflow says to directly commit the master and as part of internal branching all the prs can be there at once

[2022-10-08 13:29] QAZIMAAZARSHAD commented on #2
Can't understand the problem you are facing.

Just make a new branch, and add the logo in the logo folder.
Update the src on every page where the logo is used.
Then commit your changes and make PR.

[2022-10-08 13:30] 889-dj commented on #2
Sure got it I will make the changes asap

[2022-10-08 13:40] neeraj542 commented on #253
Yeah.. I has been updates all the crousels in the furniture.

[2022-10-08 13:40] neeraj542 commented on #253
should I raise PR now..
?

[2022-10-08 13:43] QAZIMAAZARSHAD commented on #253
If you feel the issue is resolved.

Then go ahead.

Share live link when you make PR.

[2022-10-08 13:51] neeraj542 commented on #253
sure

[2022-10-08 13:51] neeraj542 commented on #253
I'm sharing some snapshots

[2022-10-08 13:59] neeraj542 commented on #253
![3](https://user-images.githubusercontent.com/114648043/194711169-e646c84c-056b-47e6-b392-ead1ac544af8.png)
![2](https://user-images.githubusercontent.com/114648043/194711194-06b79b9a-3a02-4590-a320-1c6bebc5c371.png)
![1](https://user-images.githubusercontent.com/114648043/194711210-543d82a5-5368-43c7-a675-00ec2a21bb21.png)

[2022-10-09 06:55] ankita-104 opened #257 "please assign this to me I want to work on it"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2022-10-09 06:55] ankita-104 commented on #257
![WhatsApp Image 2022-10-08 at 14 46 31](https://user-images.githubusercontent.com/99471567/194742460-ba38c6e2-bb38-4672-90dd-75fb98fb19f0.jpeg)

[2022-10-09 06:56] ankita-104 opened #258 "glowing pencil loader"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2022-10-09 06:56] ankita-104 commented on #258
![WhatsApp Image 2022-10-08 at 14 46 31](https://user-images.githubusercontent.com/99471567/194742490-ffe1edea-d460-434a-b97a-c7b2b6c1bb19.jpeg)

[2022-10-09 06:56] #257 closed

[2022-10-09 08:32] c99SRS commented on #250
HI @QAZIMAAZARSHAD I have made the changes. Please review my PR and happy to help you further

[2022-10-09 12:32] #2 closed

[2022-10-10 04:44] QAZIMAAZARSHAD opened #264 "Update the logo on every web page"
![image](https://user-images.githubusercontent.com/56196640/194800419-a84f2df8-6e18-4462-8d8b-291a33868c74.png)

New Logo

Modify this image first by removing the bottom strip.

[2022-10-10 04:49] Anish-Sarawgi commented on #264
I want to work on this issue.

[2022-10-11 13:33] #7 closed

[2022-10-16 05:38] neeraj542 opened #267 "updating in error page with stylish teachnology"
If still page is not live or update then in that case we can use this error page.
- simplicity
- functionality

[2022-10-18 13:10] MohamedMafaz commented on #195
https://mohamedmafaz.github.io/Home-Page/lc28-fashion-ecommerce-website-master/
Check it out

[2022-10-20 05:45] Mahak008 opened #269 "Fix the UI of cards on mobile category page"
## Describe the bug
A clear and concise description of what the bug is.
First card size is bigger than the rest. I also want to change its background and image, so that it looks better.
## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g.

[2022-10-20 08:24] Mahak008 commented on #269
Kindly assign this issue to me.

[2022-10-20 15:28] #264 closed

[2022-11-14 23:20] jalajk24 commented on #267
Can I work on this issue? I don't know a lot about on how to proceed with this